{% extends "common/components/overlay.html" %}
{% set close_action = AuditLogPath.to_string() %}
{% block overlay_title %}{{ detail.description }}{% endblock %}
{% block overlay_steps %}<div class="steps-nav"></div>{% endblock %}
{% block overlay_content %}
  <div class="overlay-content">
    <dl class="event-meta">
      <dt>{{ "audit_log.fields.event_id"|trans }}</dt>
      <dd>
        {{ detail.event_id }}
      </dd>
      <dt>{{ "audit_log.fields.timestamp"|trans }}</dt>
      <dd>
        {{ detail.created_at|datetime_seconds }}
      </dd>
      {% if !detail.details.is_empty() %}
        <dt>{{ "audit_log.fields.details"|trans }}</dt>
        <dd>
          {{ detail.details }}
        </dd>
      {% endif %}
      <dt>{{ "audit_log.fields.subject_id"|trans }}</dt>
      <dd>
        <code>{{ detail.subject_id_full }}</code>
      </dd>
      {% if !detail.subject_path.is_empty() %}
        <dt>{{ "audit_log.detail.subject_link"|trans }}</dt>
        <dd>
          <a href="{{ detail.subject_path }}">{{ detail.subject_path }}</a>
        </dd>
      {% endif %}
    </dl>
    {% if detail.changes.is_empty() %}
      <p>{{ "audit_log.detail.no_changes"|trans }}</p>
    {% else %}
      <table class="diff-table mb-md">
        <thead>
          <tr>
            <th scope="col">{{ "audit_log.detail.field"|trans }}</th>
            <th scope="col">{{ "audit_log.detail.old_value"|trans }}</th>
            <th scope="col">{{ "audit_log.detail.new_value"|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for change in detail.changes %}
            <tr class="{{ change.change_kind() }}">
              {% match change %}
              {% when FieldChange::Regular with { field, old_value, new_value } %}
              <td>{{ field }}</td>
              <td>{{ old_value }}</td>
              <td>{{ new_value }}</td>
              {% when FieldChange::Entities with { field, old_refs, new_refs } %}
              <td>{{ field }}</td>
              <td>
                {% for entity_ref in old_refs %}
                  <div class="entity-ref">
                    <a href="/audit-log?search={{ entity_ref.id_full }}">
                      <abbr title="{{ entity_ref.id_full }}">{{ entity_ref.id_full|abbreviate_str }}</abbr>
                    </a>
                    {% if !entity_ref.description.is_empty() %}<span>{{ entity_ref.description }}</span>{% endif %}
                  </div>
                {% endfor %}
              </td>
              <td>
                {% for entity_ref in new_refs %}
                  <div class="entity-ref">
                    <a href="/audit-log?search={{ entity_ref.id_full }}">
                      <abbr title="{{ entity_ref.id_full }}">{{ entity_ref.id_full|abbreviate_str }}</abbr>
                    </a>
                    {% if !entity_ref.description.is_empty() %}<span>{{ entity_ref.description }}</span>{% endif %}
                  </div>
                {% endfor %}
              </td>
            {% endmatch %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if !is_downloadable_state %}
    <p class="font-italic mb-md">{{ "audit_log.documents.no_download"|trans }}</p>
  {% endif %}
  {% if frisian_export_allowed %}<div>{{ "common.languages.dutch"|trans }}:</div>{% endif %}
  {% if is_downloadable_state %}
    <a href="{{ download_path_nl }}" class="button secondary icon-download">{{ "audit_log.documents.download"|trans }} (v{{ detail.event_id }})</a>
  {% else %}
    <a class="button secondary icon-download disabled"
       disabled
       aria-disabled="true">{{ "audit_log.documents.download"|trans }} (v{{ detail.event_id }})</a>
  {% endif %}
  {% if frisian_export_allowed %}
    <div class="mt-md">{{ "common.languages.frisian"|trans }}:</div>
    {% if is_downloadable_state %}
      <a href="{{ download_path_fry }}" class="button secondary icon-download">
      Dokuminten downloade (v{{ detail.event_id }})</a>
    {% else %}
      <a class="button secondary icon-download disabled"
         disabled
         aria-disabled="true">Dokuminten downloade (v{{ detail.event_id }})</a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
{% block overlay_actions %}{% endblock %}
