<div class="steps-nav">
  <ul>
    {% let max_candidates = "max_candidates"|integer_value %}
    {% if should_warn|default(true) %}
      <li>
        <a href="{{ candidate.update_position_path() }}"
           class="{% if candidate.position <= max_candidates %}ok{% else %}warning{% endif %}">
          {{ "candidate_list.edit_position"|trans }}
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{{ candidate.update_path() }}"
         class="{% if candidate.person.is_personal_info_complete() %}ok{% else %}warning{% endif %}">
        {{ "person.personal_details"|trans }}
      </a>
    </li>
    {% if candidate.person.lives_in_nl() %}
      <li>
        <a href="{{ candidate.update_address_path() }}"
           class="{% if candidate.person.address.is_complete() %}ok{% else if should_warn|default(true) %}warning{% endif %}">
          {{ "person.correspondence_address"|trans }}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{{ candidate.update_representative_path() }}"
           class="{% if candidate.person.is_representative_complete() %}ok{% else if should_warn|default(true) %}warning{% endif %}">
          {{ "person.representative"|trans }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
