{% extends "pg/common/components/overlay.html" %}
{% set close_action = ListSubmitter::view_path() %}
{% block overlay_title %}{{ "political_group.add_substitute_submitter"|trans }}{% endblock %}
{% block overlay_steps %}
  {% include "pg/substitute_list_submitters/components/create_steps.html" %}
{% endblock %}
{% block overlay_form %}
  <fieldset>
    {% include "pg/common/components/name_fields.html" %}
    {% include "pg/list_submitters/components/address_fields.html" %}
  </fieldset>
{% endblock %}
