{% extends "pg/common/components/overlay.html" %}
{% block overlay_title %}{{ "political_group.edit_substitute_submitter"|trans }}{% endblock %}
{% set close_action = ListSubmitter::view_path() %}
{% block overlay_steps %}
  {% include "pg/substitute_list_submitters/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  <fieldset>
    <legend>
      <h3>{{ "political_group.actions.delete_substitute_submitter"|trans }}</h3>
    </legend>
    <p>{{ "political_group.delete_substitute_submitter_warning_text"|trans }}</p>
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  <div class="form-actions">
    <button type="submit" class="button tertiary-destructive icon-trash">
      {{ "political_group.actions.delete_substitute_submitter"|trans }}
    </button>
  </div>
{% endblock %}
