{% extends "common/components/overlay.html" %}
{% import "common/components/macros.html" as macros %}
{% set close_action = AuthorisedAgent::list_path() %}
{% block overlay_title %}{{ "political_group.edit_authorised_agent"|trans }}{% endblock %}
{% block overlay_steps %}
  {% include "authorised_agents/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  {% set should_warn = true %}
  <fieldset>
    {% include "common/components/name_fields.html" %}
  </fieldset>
{% endblock %}
