{% extends "layout.html" %}

{% block page_title %}{{ "person.title"|trans }}{% endblock %}
{% block persons_nav_class %}active{% endblock %}

{% block content %}
<nav class="sticky-nav">
  <div class="sticky-nav-bar">
    <div></div>
    <div>
      <div class="buttons">
        <a href="{{ Person::new_path() }}" class="button secondary icon-plus" type="button">
          {{ "person.actions.add"|trans }}
        </a>
      </div>
    </div>
  </div>
</nav>
{% if person_pagination.persons.is_empty() %}
<section>
  <p>{{ "person.list.empty"|trans }}</p>
</section>
{% else %}
<section>
  {% include "persons/components/person_table.html" %}
</section>
{% if person_pagination.pagination.total_pages > 1 %}
  {% set pagination = person_pagination.pagination %}
  {% include "components/pagination.html"  %}
{% endif %}
{% endif %}
{% endblock %}
