{% extends "layout.html" %}

{% block page_title %}{{ t!("person.title")|trans }}{% endblock %}
{% block persons_nav_class %}active{% endblock %}

{% block content %}
{% if person_pagination.persons.is_empty() %}
<section>
  <p>{{ t!("person.list.empty")|trans }}</p>
</section>
{% else %}
<section>
  {% include "persons/components/person_table.html" %}
</section>
{% if person_pagination.pagination.total_pages > 1 %}
  {% set pagination = person_pagination.pagination %}
  {% include "components/pagination.html"  %}
{% endif %}
{% endif %}
{% endblock %}
