{% extends "persons/components/overlay.html" %}

{% block overlay_start %}
<form method="post" action="{{ person.edit_representative_path() }}" class="overlay">
<input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
{% endblock %}

{% block overlay_end %}</form>{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    {% include "persons/components/edit_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ "person.representative"|trans }}</h3>
        </legend>
        {% include "persons/components/representative_form.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
