{% extends "components/overlay.html" %}

{% block overlay_title %}
  <span class="person-badge"></span>
  {{ person.display_name() }}
{% endblock %}

{% set close_action = person.highlight_path() %}

{% block overlay_steps %}
  {% include "persons/components/update_steps.html" %}
{% endblock %}

{% block overlay_form %}
  <fieldset>
    <legend>
      <h3>{{ "person.representative"|trans }}</h3>
    </legend>
    {% include "persons/components/representative_form.html" %}
  </fieldset>
{% endblock %}

{% block overlay_actions %}
  {% if !should_warn %}
    {% set submit_label = "action.add"|trans %}
    {% include "components/submit.html" %}
  {% else %}
    {% include "components/submit.html" %}  
  {% endif %}
{% endblock %}
