{% extends "common/components/overlay.html" %}
{% set close_action = ListSubmitter::view_path() %}
{% block overlay_title %}{{ "political_group.edit_list_submitter"|trans }}{% endblock %}
{% block overlay_steps %}<div class="steps-nav"></div>{% endblock %}
{% block overlay_form %}
  {% set should_warn = true %}
  <fieldset>
    {% include "list_submitters/components/name_fields.html" %}
    <h3>{{ "person.correspondence_address"|trans }}</h3>
    <span class="alert alert-info">{{ "political_group.list_submitter_address_info"|trans }}</span>
    {% include "list_submitters/components/address_fields.html" %}
  </fieldset>
{% endblock %}
