{% extends "pg/common/components/overlay.html" %}
{% set close_action = Person::list_path() %}
{% block overlay_title %}{{ "person.form.create.title"|trans }}{% endblock %}
{% block overlay_steps %}
  <div class="steps-nav">
    <ul>
      <li>
        <a href="{{ Person::create_path() }}" class="active">{{ "person.personal_details"|trans }}</a>
      </li>
      <li class="show-nl">
        <a class="disabled" disabled>{{ "person.correspondence_address"|trans }}</a>
      </li>
      <li class="hide-nl">
        <a class="disabled" disabled>{{ "person.representative"|trans }}</a>
      </li>
    </ul>
  </div>
{% endblock %}
{% block overlay_form %}
  <fieldset>
    <legend>
      <h2 class="h3">{{ "person.form.create.title"|trans }}</h2>
    </legend>
    {% let should_warn = false %}
    {% let show_last_name_info = true %}
    {% include "pg/persons/components/form.html" %}
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  {% set submit_label = "action.next"|trans %}
  {% include "pg/common/components/submit.html" %}
{% endblock %}
