{% extends "pg/common/components/overlay.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% block overlay_title %}
  <span class="person-badge"></span>
  {{ person.name.display() }}
{% endblock %}
{% set close_action = person.highlight_path() %}
{% block overlay_steps %}
  {% set conditional_next_step = true %}
  {% include "pg/persons/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  {% let should_warn = true %}
  {% let show_last_name_info = true %}
  <fieldset>
    <legend>
      <h3>{{ "person.personal_details"|trans }}</h3>
    </legend>
    {% include "pg/persons/components/form.html" %}
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  {% if overlay.redirects_to_finalise() %}
    {% let submit_label = "action.save"|trans %}
    {% include "pg/common/components/submit.html" %}
  {% else %}
    {% let submit_label = "action.next"|trans %}
    {% include "pg/common/components/submit.html" %}
  {% endif %}
{% endblock %}
{% block overlay_end %}
{% endblock %}
