{% extends "csb/components/layout.html" %}
{% import "app/common/components/macros.html" as macros %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(political_group.examination_path() , political_group.csb_display_name(), is_translatable=false) }}
  {{ breadcrumb(political_group.all_restorations_path() , "csb.all_restorations.title") }}
{% endblock %}
{% block page_title %}
  {{ "csb.all_restorations.title"|trans }}
{% endblock %}
{% block header_action %}
  {% set back_url = political_group.examination_path() %}
  {% include "csb/components/header_examination_actions.html" %}
{% endblock %}
{% block content %}
  <div class="content-header mb-xxl">
    <p>{{ "csb.all_restorations.explanation"|trans }}</p>
  </div>
  <div class="omission-cards mb-xl">
    <h3>
      <span class="omission-icon" aria-hidden="true"></span>
      {{ "csb.omission.title"|trans }}
    </h3>
  </div>
  <div class="omission-cards">
    <h3>
      <span class="correction-icon" aria-hidden="true"></span>
      {{ "csb.correction.title"|trans }}
    </h3>
  </div>
{% endblock %}
