{% extends "csb/components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(political_group.examination_path() , political_group.political_group.csb_display_name(), is_translatable=false) }}
  {{ breadcrumb(political_group.candidate_list_path(list_id) , "candidate_list.title_single") }}
{% endblock %}
{% block page_title %}
  {{ "candidate_list.title_single"|trans }}
{% endblock %}
{% block page_sub_title %}
  <div class="tags">
    <h5 class="tags-label">{{ "common.electoral_districts"|trans }}:</h5>
    {% if electoral_districts.len() == election.electoral_districts().len() %}
      <p>{{ "candidate_list.districts.all"|trans }}</p>
    {% else %}
      <ul class="tags-list">
        {% for district in electoral_districts %}
          <li class="tag">
            <a class="unclickable">{{ district|district_name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% block header_action %}
  <a href="{{ political_group.examination_path() }}"
     class="button secondary">{{ "action.back"|trans }}</a>
{% endblock %}
{% block content %}
  <section class="general-information candidate-list">
    <div class="omission-cards">
      <h3>
        <span class="omission-icon" aria-hidden="true"></span>
        {{ "csb.omission.title"|trans }}
      </h3>
      <div class="cards">
        <div class="card omission-card"
             data-href="{{ political_group.add_candidate_list_omission_path(list_id) }}">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.add.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.list.add_text"|trans }}</p>
          </div>
          <a class="card-footer"
             href="{{ political_group.add_candidate_list_omission_path(list_id) }}">{{ "csb.omission.action.add"|trans }}</a>
        </div>
        <div class="card omission-card">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.overview.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.list.overview_text"|trans }}</p>
            {% if !omissions.is_empty() %}
              <ul class="omission-badges">
                {% for omission in omissions %}
                  <li class="omission-badge{% if !omission.recoverable %} omission-badge--error{% endif %}">{{ omission.title }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <a class="card-footer" href="#">{{ "csb.omission.action.manage"|trans }}</a>
        </div>
      </div>
    </div>
    {% if candidates.is_empty() %}
      <p class="font-italic">{{ "candidate_list.view.empty"|trans }}</p>
    {% else %}
      <table class="candidate-table">
        <thead>
          <tr>
            <th scope="col">{{ "candidate_list.fields.position"|trans }}</th>
            <th scope="col">{{ "person.fields.name"|trans }}</th>
            <th scope="col">{{ "person.fields.place_of_residence"|trans }}</th>
            <th scope="col">{{ "csb.list.brp_errors"|trans }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
            <tr class="clickable">
              <td>
                <span class="badge position-badge">{{ candidate.position }}</span>
              </td>
              <td>
                <strong>{{ candidate.person.name.last_name_with_prefix_appended() }},</strong>
                {{ candidate.person|initials_as_printed_on_list }}
              </td>
              <td>
                {% if let Some(place_of_residence) = candidate.person.personal_data.place_of_residence %}
                  {{ place_of_residence }}
                {% endif %}
                {% if let Some(country) = candidate.person.personal_data.country && !candidate.person.lives_in_nl() %}
                  ({{ country }})
                {% endif %}
              </td>
              <td>
                <ul class="tags-list">
                  {% if candidate.brp_error_count == 0 %}
                    <li class="tag link width-md">
                      <a class="ok" href="#">{{ "csb.brp.correct"|trans }}</a>
                    </li>
                  {% else %}
                    <li class="tag link">
                      <a class="error" href="#">{{ "csb.brp.errors"|trans }}</a>
                    </li>
                  {% endif %}
                </ul>
              </td>
              <td class="actions">
                <a href="{{ political_group.candidate_path(list_id, candidate.person.id) }}"
                   aria-label="{{ "action.edit"|trans }}"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
