{% extends "csb/components/layout.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% import "csb/components/paper_corrected.html" as paper_corrected %}
{% import "csb/components/restorations.html" as restorations %}
{% block breadcrumbs %}
  {{ breadcrumb(political_group.overview_path() , political_group.overview_title_key()) }}
  {{ breadcrumb(political_group.group_path() , political_group.csb_appellation(), is_translatable=false) }}
  {{ breadcrumb(political_group.candidate_list_path(list_id) , "candidate_list.title_single") }}
  {{ breadcrumb(political_group.candidate_path(list_id, candidate.id) , candidate.name.display() , is_translatable=false) }}
{% endblock %}
{% block page_title %}
  {% if political_group.mode.is_recovery() %}
    {% if let Some(recovery_position) = recovery_position %}
      {{ paper_corrected::position_number(recovery_position, "candidate-number") }}
    {% endif %}
  {% else %}
    {{ paper_corrected::position_badge(position, "candidate-number") }}
  {% endif %}
  {% if political_group.mode.is_recovery() && is_scrapped %}
    <s class="imported-value">{{ candidate.name.display() }}</s>
    <span class="restoration-tag restoration-tag-scrapped">{{ "csb.recovery.scrapped"|trans }}</span>
  {% else %}
    {{ candidate.name.display() }}
  {% endif %}
{% endblock %}
{% block page_sub_title %}
  {% let election = "election"|election_value %}
  <div class="tags">
    <h5 class="tags-label">{{ "common.electoral_districts"|trans }}:</h5>
    {% if electoral_districts.len() == election.electoral_districts().len() %}
      {% if political_group.mode.is_recovery() && all_districts_scrapped %}
        <p>
          <s class="imported-value">{{ "candidate_list.districts.all"|trans }}</s>
        </p>
      {% else %}
        <p>{{ "candidate_list.districts.all"|trans }}</p>
      {% endif %}
    {% else %}
      <ul class="tags-list">
        {% for district in electoral_districts %}
          <li class="tag">
            {% if political_group.mode.is_recovery() && scrapped_districts.contains(district) %}
              <a class="unclickable">
                <s class="imported-value">{{ district|district_name }}</s>
              </a>
            {% else %}
              <a class="unclickable">{{ district|district_name }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% block header_action %}
  {% set back_url = political_group.candidate_list_path(list_id) %}
  {% include "csb/components/header_examination_actions.html" %}
{% endblock %}
{% block content %}
  <section class="general-information">
    {% if political_group.mode.is_examination() %}
      {{ restorations::omission_panel("csb.omission.title_for.candidate"|trans(&candidate.name.display() ) , "csb.candidate.add_candidate_text"|trans, political_group.add_candidate_omission_path(candidate.id, list_id) , political_group.manage_candidate_omissions_path(candidate.id, list_id) , candidate_omissions.as_slice()) }}
    {% else %}
      {{ restorations::status_panel(political_group, "csb.omission.title_for.candidate"|trans(&candidate.name.display() ) , "csb.recovery.omissions_explanation"|trans, candidate_omissions.as_slice() , political_group.candidate_path(list_id, candidate.id)) }}
    {% endif %}
    <div class="examination-panel-header">
      <div>
        <h2>{{ "csb.candidate.personal_details"|trans }}</h2>
      </div>
    </div>
    {% let examining = political_group.mode.is_examination() %}
    {% if examining %}
      {% if let Some(reason) = brp.incomplete %}
        <div class="restoration-strip">
          <ul class="restoration-tags">
            <li>
              <span class="restoration-tag restoration-tag-pending">{{ reason }}</span>
            </li>
          </ul>
        </div>
        {% if brp.state.is_not_checked() %}
          <div class="examination-panel-actions">
            {% if brp.running %}
              <a class="button secondary"
                 href="{{ political_group.candidate_path(list_id, candidate.id) }}">{{ "csb.brp.refresh"|trans }}</a>
            {% else %}
              <form method="post"
                    action="{{ political_group.candidate_brp_check_path(list_id, candidate.id) }}">
                {{ macros::csrf_field() }}
                <button type="submit" class="button secondary">{{ "csb.brp.check_candidate"|trans }}</button>
              </form>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    <table class="detail-table">
      {{ paper_corrected::columns_head("person.personal_details"|trans) }}
      <tbody>
        {{ paper_corrected::maybe_brp_editable_data_row("person.fields.initials"|trans, details.initials, brp.findings.initials.as_slice() , political_group.correction_person_path(candidate.id, crate::csb::examination::structs::CandidateCorrectionField::Initials, list_id) , examining) }}
        {{ paper_corrected::data_row("person.fields.first_name"|trans, details.first_name) }}
        {{ paper_corrected::maybe_brp_editable_data_row("person.fields.last_name_prefix"|trans, details.last_name_prefix, brp.findings.last_name_prefix.as_slice() , political_group.correction_person_path(candidate.id, crate::csb::examination::structs::CandidateCorrectionField::LastNamePrefix, list_id) , examining) }}
        {{ paper_corrected::maybe_brp_editable_data_row("person.fields.last_name"|trans, details.last_name, brp.findings.last_name.as_slice() , political_group.correction_person_path(candidate.id, crate::csb::examination::structs::CandidateCorrectionField::LastName, list_id) , examining) }}
        {{ paper_corrected::maybe_brp_data_row("person.fields.gender"|trans, details.gender, brp.findings.gender.as_slice() , examining) }}
        {{ paper_corrected::maybe_brp_editable_data_row("person.fields.date_of_birth"|trans, details.date_of_birth, brp.findings.date_of_birth.as_slice() , political_group.correction_person_path(candidate.id, crate::csb::examination::structs::CandidateCorrectionField::DateOfBirth, list_id) , examining) }}
        {{ paper_corrected::maybe_brp_data_row("person.fields.bsn"|trans, details.bsn, brp.findings.bsn.as_slice() , examining) }}
        {{ paper_corrected::maybe_brp_editable_data_row("person.fields.place_of_residence"|trans, details.place_of_residence, brp.findings.place_of_residence.as_slice() , political_group.correction_person_path(candidate.id, crate::csb::examination::structs::CandidateCorrectionField::PlaceOfResidence, list_id) , examining) }}
      </tbody>
      {% if examining && !brp.findings.candidate.is_empty() %}
        <tbody>
          <tr>
            <td colspan="2">{{ paper_corrected::brp_findings(brp.findings.candidate.as_slice() ) }}</td>
            <td></td>
          </tr>
        </tbody>
      {% endif %}
    </table>
    <table class="detail-table">
      {{ paper_corrected::columns_head("person.correspondence_address"|trans) }}
      <tbody>
        {{ paper_corrected::data_row("person.fields.street_name"|trans, details.street_name) }}
        {{ paper_corrected::data_row("person.fields.house_number"|trans, details.house_number) }}
        {{ paper_corrected::data_row("person.fields.house_number_addition"|trans, details.house_number_addition) }}
        {{ paper_corrected::data_row("person.fields.postal_code"|trans, details.postal_code) }}
        {{ paper_corrected::data_row("person.fields.locality"|trans, details.locality) }}
        {{ paper_corrected::data_row("person.fields.country"|trans, details.country) }}
      </tbody>
    </table>
    {% if details.has_representative %}
      <table class="detail-table">
        {{ paper_corrected::columns_head("person.representative"|trans) }}
        <tbody>
          {{ paper_corrected::data_row("person.fields.name"|trans, details.representative_name) }}
          {{ paper_corrected::data_row("person.fields.street_name"|trans, details.representative_street_name) }}
          {{ paper_corrected::data_row("person.fields.house_number"|trans, details.representative_house_number) }}
          {{ paper_corrected::data_row("person.fields.house_number_addition"|trans, details.representative_house_number_addition) }}
          {{ paper_corrected::data_row("person.fields.postal_code"|trans, details.representative_postal_code) }}
          {{ paper_corrected::data_row("person.fields.locality"|trans, details.representative_locality) }}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
