{% extends "csb/components/layout.html" %}
{% import "csb/components/paper_corrected.html" as paper_corrected %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(political_group.examination_path() , political_group.csb_display_name(), is_translatable=false) }}
  {{ breadcrumb(political_group.candidate_list_path(list_id) , "candidate_list.title_single") }}
  {{ breadcrumb(political_group.candidate_path(list_id, candidate.id) , candidate.name.display() , is_translatable=false) }}
{% endblock %}
{% block page_title %}
  {{ paper_corrected::position_badge(position, "candidate-number") }}
  {{ candidate.name.display() }}
{% endblock %}
{% block page_sub_title %}
  {% let election = "election"|election_value %}
  <div class="tags">
    <h5 class="tags-label">{{ "common.electoral_districts"|trans }}:</h5>
    {% if electoral_districts.len() == election.electoral_districts().len() %}
      <p>{{ "candidate_list.districts.all"|trans }}</p>
    {% else %}
      <ul class="tags-list">
        {% for district in electoral_districts %}
          <li class="tag">
            <a class="unclickable">{{ district|district_name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
{% block header_action %}
  {% set back_url = political_group.candidate_list_path(list_id) %}
  {% include "csb/components/header_examination_actions.html" %}
{% endblock %}
{% macro columns_head(label) %}
  <thead>
    <tr>
      <th scope="col">{{ label }}</th>
      <th scope="col">{{ "csb.candidate.status"|trans }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
{% endmacro %}
{% block content %}
  <section class="general-information">
    <div class="omission-cards">
      <h3>
        <span class="omission-icon" aria-hidden="true"></span>
        {{ "csb.omission.title"|trans }}
      </h3>
      <div class="cards">
        <div class="card omission-card"
             data-href="{{ political_group.add_candidate_omission_path(candidate.id, list_id) }}">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.add.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.candidate.add_candidate_text"|trans }}</p>
          </div>
          <a class="card-footer"
             href="{{ political_group.add_candidate_omission_path(candidate.id, list_id) }}">{{ "csb.omission.action.add"|trans }}</a>
        </div>
        <div class="card omission-card"
             data-href="{{ political_group.manage_candidate_omissions_path(candidate.id, list_id) }}">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.overview.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.candidate.overview_text"|trans }}</p>
            {% if !candidate_omissions.is_empty() %}
              <ul class="omission-badges">
                {% for omission in candidate_omissions %}
                  <li class="omission-badge{% if !omission.recoverable %} omission-badge-unrecoverable{% endif %}">{{ omission.title }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <a class="card-footer"
             href="{{ political_group.manage_candidate_omissions_path(candidate.id, list_id) }}">{{ "csb.omission.action.manage"|trans }}</a>
        </div>
      </div>
    </div>
    <h2>{{ "csb.candidate.personal_details"|trans }}</h2>
    <table class="detail-table">
      {{ columns_head("person.personal_details"|trans) }}
      <tbody>
        {{ paper_corrected::editable_data_row("person.fields.initials"|trans, details.initials, political_group.correction_person_path(candidate.id, crate::csb::examination::pages::CandidateCorrectionField::Initials, list_id) ) }}
        {{ paper_corrected::data_row("person.fields.first_name"|trans, details.first_name) }}
        {{ paper_corrected::editable_data_row("person.fields.last_name"|trans, details.last_name, political_group.correction_person_path(candidate.id, crate::csb::examination::pages::CandidateCorrectionField::LastName, list_id) ) }}
        {{ paper_corrected::data_row("person.fields.gender"|trans, details.gender) }}
        {{ paper_corrected::editable_data_row("person.fields.date_of_birth"|trans, details.date_of_birth, political_group.correction_person_path(candidate.id, crate::csb::examination::pages::CandidateCorrectionField::DateOfBirth, list_id) ) }}
        {{ paper_corrected::data_row("person.fields.bsn"|trans, details.bsn) }}
        {{ paper_corrected::editable_data_row("person.fields.place_of_residence"|trans, details.place_of_residence, political_group.correction_person_path(candidate.id, crate::csb::examination::pages::CandidateCorrectionField::PlaceOfResidence, list_id) ) }}
      </tbody>
    </table>
    <table class="detail-table">
      {{ columns_head("person.correspondence_address"|trans) }}
      <tbody>
        {{ paper_corrected::data_row("person.fields.street_name"|trans, details.street_name) }}
        {{ paper_corrected::data_row("person.fields.house_number"|trans, details.house_number) }}
        {{ paper_corrected::data_row("person.fields.house_number_addition"|trans, details.house_number_addition) }}
        {{ paper_corrected::data_row("person.fields.postal_code"|trans, details.postal_code) }}
        {{ paper_corrected::data_row("person.fields.locality"|trans, details.locality) }}
        {{ paper_corrected::data_row("person.fields.country"|trans, details.country) }}
      </tbody>
    </table>
    {% if details.has_representative %}
      <table class="detail-table">
        {{ columns_head("person.representative"|trans) }}
        <tbody>
          {{ paper_corrected::data_row("person.fields.name"|trans, details.representative_name) }}
          {{ paper_corrected::data_row("person.fields.street_name"|trans, details.representative_street_name) }}
          {{ paper_corrected::data_row("person.fields.house_number"|trans, details.representative_house_number) }}
          {{ paper_corrected::data_row("person.fields.house_number_addition"|trans, details.representative_house_number_addition) }}
          {{ paper_corrected::data_row("person.fields.postal_code"|trans, details.representative_postal_code) }}
          {{ paper_corrected::data_row("person.fields.locality"|trans, details.representative_locality) }}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
