{% extends "csb/components/overlay.html" %}
{% set submit_label = "csb.omission.form.submit"|trans %}
{% block overlay_title %}{{ "action.delete"|trans }} {{ political_group.csb_appellation() }}{% endblock %}
{% block overlay_form %}
  <fieldset>
    <p>{{ "csb.group.confirm_delete"|trans(political_group.csb_appellation().as_str()) }}</p>
    <p>{{  "csb.group.delete_note"|trans }}</p>
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  <div class="form-actions">
    <button type="submit" class="button tertiary-destructive icon-trash">{{ "action.delete"|trans }}</button>
  </div>
{% endblock %}
