{% extends "csb/components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(crate::csb::examination::CsbFinishExaminationPath, "csb.finish_examination.title") }}
{% endblock %}
{% block page_title %}{{ "csb.finish_examination.title"|trans }}{% endblock %}
{% block content %}
<div class="examination-panels">

  <div class="examination-panel">
    <div class="examination-panel-header">
      <div>
        <h3>{{ "csb.finish_examination.i1_title"|trans }}</h3>
        <p>{{ "csb.finish_examination.i1_note"|trans }}</p>
      </div>
      <a class="button secondary icon-plus-end" href="#">{{ "csb.finish_examination.hearing_details"|trans }}</a>
    </div>
    <div class="examination-strip">
      <a href="" class="button secondary icon-download">Download Word</a>
      <a href="" class="button primary icon-download">Download PDF</a>
    </div>
  </div>

  <div class="examination-panel">
    <div class="examination-panel-header">
      <div>
        <h3>{{ "csb.finish_examination.omission_letters"|trans }}</h3>
        <p>{{ "csb.finish_examination.omission_letters_note"|trans }}</p>
      </div>
    </div>

    <table class="omission-table">
      <thead>
        <tr>
          <th colspan="2">{{ "common.political_group"|trans }}</th>
        </tr>
      </thead>
      {% for pg in political_groups %}
      <tr class="clickable">
        <td>
          <h5>{{pg.csb_appellation()}}</h5>
        </td>
        <td>
          <a class="icon-chevron-end" href="/csb/examination/{{pg.stream_id}}"></a>
        </td>
      </tr>
      {% else %}
        <td colspan="2"><p class="font-italic">{{ "csb.no_finished_political_group"|trans }}</p></td>
      {% endfor %}
    </table>

    <div class="omission-download-row">
      <p class="w-16">{{ "csb.finish_examination.download_note"|trans }}</p>
      <a href="" class="button primary icon-download">Download</a>
    </div>
  </div>
</div>
{% endblock %}
