{% extends "csb/components/layout.html" %}
{% import "csb/components/paper_corrected.html" as paper_corrected %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(political_group.examination_path() , political_group.csb_display_name(), is_translatable=false) }}
  {{ breadcrumb(political_group.general_information_path() , "common.general_information") }}
{% endblock %}
{% block page_title %}
  {{ "common.general_information"|trans }}
{% endblock %}
{% block header_action %}
  {% set back_url = political_group.examination_path() %}
  {% include "csb/components/header_examination_actions.html" %}
{% endblock %}
{% macro columns_head(label) %}
  <thead>
    <tr>
      <th scope="col">{{ label }}</th>
      <th scope="col">{{ "csb.general.status"|trans }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
{% endmacro %}
{% macro submitter_tables(submitter) %}
  <table class="detail-table">
    {{ columns_head("csb.general.personalia"|trans) }}
    <tbody>
      {{ paper_corrected::data_row("person.fields.initials"|trans, submitter.initials) }}
      {{ paper_corrected::data_row("person.fields.last_name"|trans, submitter.last_name) }}
    </tbody>
  </table>
  <table class="detail-table">
    {{ columns_head("person.correspondence_address"|trans) }}
    <tbody>
      {{ paper_corrected::data_row("person.fields.postal_code"|trans, submitter.postal_code) }}
      {{ paper_corrected::data_row("person.fields.house_number"|trans, submitter.house_number) }}
      {{ paper_corrected::data_row("person.fields.street_name"|trans, submitter.street_name) }}
      {{ paper_corrected::data_row("person.fields.locality"|trans, submitter.locality) }}
      {{ paper_corrected::data_row("person.fields.state_or_province"|trans, submitter.state_or_province) }}
      {{ paper_corrected::data_row("person.fields.country"|trans, submitter.country) }}
    </tbody>
  </table>
{% endmacro %}
{% block content %}
  <section class="general-information">
    <div class="omission-cards">
      <h3>
        <span class="omission-icon" aria-hidden="true"></span>
        {{ "csb.omission.title"|trans }}
      </h3>
      <div class="cards">
        <div class="card omission-card"
             data-href="{{ political_group.add_political_group_omission_path() }}">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.add.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.general.add_text"|trans }}</p>
          </div>
          <a class="card-footer"
             href="{{ political_group.add_political_group_omission_path() }}">{{ "csb.omission.action.add"|trans }}</a>
        </div>
        <div class="card omission-card"
             data-href="{{ political_group.manage_political_group_omissions_path() }}">
          <div class="card-header">
            <div>
              <h3 class="h4">{{ "csb.omission.overview.title"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <p>{{ "csb.general.overview_text"|trans }}</p>
            {% if !political_group_omissions.is_empty() %}
              <ul class="omission-badges">
                {% for omission in political_group_omissions %}
                  <li class="omission-badge{% if !omission.recoverable %} omission-badge-unrecoverable{% endif %}">{{ omission.title }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <a class="card-footer"
             href="{{ political_group.manage_political_group_omissions_path() }}">{{ "csb.omission.action.manage"|trans }}</a>
        </div>
      </div>
    </div>
    <h2>{{ "csb.general.group_info"|trans }}</h2>
    <table class="detail-table">
      {{ columns_head("common.general_information"|trans) }}
      <tbody>
        <tr class="clickable">
          <td>{{ "political_group.display_name"|trans }}: {{ paper_corrected::value(group_info.display_name) }}</td>
          <td></td>
          <td class="actions">
            <a href="{{ political_group.correction_display_name_path() }}"
               aria-label="{{ "action.edit"|trans }}"></a>
          </td>
        </tr>
        {{ paper_corrected::data_row("political_group.list_type"|trans, group_info.list_type) }}
        {{ paper_corrected::data_row("problems.no_previous_election_results"|trans, group_info.previous_results) }}
      </tbody>
    </table>
    {% if name_authorisations.is_empty() %}
      <p class="font-italic">{{ "political_group.no_legal_names"|trans }}</p>
    {% else %}
      {% for name_authorisation in name_authorisations %}
        <table class="detail-table">
          {{ columns_head(name_authorisation.heading) }}
          <tbody>
            {{ paper_corrected::data_row("political_group.legal_name"|trans, name_authorisation.legal_name) }}
            {{ paper_corrected::data_row("political_group.authorised_agent"|trans, name_authorisation.authorised_agent) }}
          </tbody>
        </table>
      {% endfor %}
    {% endif %}
    <h2>{{ "political_group.list_submitter_data"|trans }}</h2>
    {% if let Some(submitter) = list_submitter %}
      {{ submitter_tables(submitter) }}
    {% else %}
      <p class="font-italic">{{ "political_group.no_list_submitter"|trans }}</p>
    {% endif %}
    <h2>{{ "political_group.substitute_submitters_data"|trans }}</h2>
    {% if substitute_submitters.is_empty() %}
      <p class="font-italic">{{ "political_group.no_substitute_submitters"|trans }}</p>
    {% else %}
      {% for submitter in substitute_submitters %}
        <h3 class="mt-md">{{ submitter.heading }}</h3>
        {{ submitter_tables(submitter) }}
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}
