{% extends "csb/components/layout.html" %}
{% import "csb/components/paper_corrected.html" as paper_corrected %}
{% import "csb/components/restorations.html" as restorations %}
{% block breadcrumbs %}
  {{ breadcrumb(political_group.overview_path() , political_group.overview_title_key()) }}
  {{ breadcrumb(political_group.group_path() , political_group.csb_appellation(), is_translatable=false) }}
  {{ breadcrumb(political_group.general_information_path() , "common.general_information") }}
{% endblock %}
{% block page_title %}
  {{ "common.general_information"|trans }}
{% endblock %}
{% block header_action %}
  {% set back_url = political_group.group_path() %}
  {% include "csb/components/header_examination_actions.html" %}
{% endblock %}
{% macro submitter_tables(submitter) %}
  <table class="detail-table">
    {{ paper_corrected::columns_head("csb.general.personalia"|trans) }}
    <tbody>
      {{ paper_corrected::data_row("person.fields.initials"|trans, submitter.initials) }}
      {{ paper_corrected::data_row("person.fields.last_name"|trans, submitter.last_name) }}
    </tbody>
  </table>
  <table class="detail-table">
    {{ paper_corrected::columns_head("person.correspondence_address"|trans) }}
    <tbody>
      {{ paper_corrected::data_row("person.fields.postal_code"|trans, submitter.postal_code) }}
      {{ paper_corrected::data_row("person.fields.house_number"|trans, submitter.house_number) }}
      {{ paper_corrected::data_row("person.fields.street_name"|trans, submitter.street_name) }}
      {{ paper_corrected::data_row("person.fields.locality"|trans, submitter.locality) }}
      {% if submitter.is_foreign %}
        {{ paper_corrected::data_row("person.fields.state_or_province"|trans, submitter.state_or_province) }}
        {{ paper_corrected::data_row("person.fields.country"|trans, submitter.country) }}
      {% endif %}
    </tbody>
  </table>
{% endmacro %}
{% block content %}
  <section class="general-information">
    {% if political_group.mode.is_examination() %}
      {{ restorations::omission_panel("csb.omission.title_for.general"|trans, "csb.general.add_text"|trans, political_group.add_political_group_omission_path() , political_group.manage_political_group_omissions_path() , political_group_omissions.as_slice()) }}
      {% if political_group.political_group.list_designation != Some(crate::structs::list_designation::ListDesignation::Blank) %}
        {{ restorations::omission_panel("csb.omission.title_for.appellation"|trans, "csb.general.add_text"|trans, political_group.add_appellation_omission_path() , political_group.manage_appellation_omissions_path() , appellation_omissions.as_slice()) }}
      {% endif %}
    {% else %}
      {{ restorations::status_panel(political_group, "csb.omission.title_for.general"|trans, "csb.recovery.omissions_explanation"|trans, political_group_omissions.as_slice() , political_group.general_information_path()) }}
      {% if political_group.political_group.list_designation != Some(crate::structs::list_designation::ListDesignation::Blank) %}
        {{ restorations::status_panel(political_group, "csb.omission.title_for.appellation"|trans, "", appellation_omissions.as_slice() , political_group.general_information_path()) }}
      {% endif %}
    {% endif %}
    <h2>{{ "csb.general.group_info"|trans }}</h2>
    <table class="detail-table">
      {{ paper_corrected::columns_head("common.general_information"|trans) }}
      <tbody>
        {% if let Some(appellation_label) = group_info.appellation_label %}
          {% if political_group.mode.is_examination() %}
            <tr class="clickable">
              <td>{{ appellation_label }}: {{ paper_corrected::value(group_info.appellation) }}</td>
              <td></td>
              <td class="actions">
                <a href="{{ political_group.correction_appellation_path() }}"
                   aria-label="{{ "action.edit"|trans }}"></a>
              </td>
            </tr>
          {% else %}
            <tr>
              {% if political_group.is_appellation_scrapped %}
                <td><s>{{ appellation_label }}: {{ paper_corrected::value(group_info.appellation) }}</s></td>
                <td><span class="restoration-tag restoration-tag-scrapped">{{ "csb.recovery.scrapped"|trans }}</span></td>
                <td></td>
              {% else %}
                <td>{{ appellation_label }}: {{ paper_corrected::value(group_info.appellation) }}</td>
                <td></td>
                <td></td>
              {% endif %}
            </tr>
          {% endif %}
        {% endif %}
        {{ paper_corrected::data_row("political_group.list_type"|trans, group_info.list_type) }}
        {{ paper_corrected::data_row("problems.no_previous_election_results"|trans, group_info.previous_results) }}
      </tbody>
    </table>
    {% if group_info.is_blank %}
      {# Blank lists shouldn't show/have any name authorisations #}
    {% else if name_authorisations.is_empty() %}
      <p class="font-italic">{{ "political_group.no_legal_names"|trans }}</p>
    {% else %}
      {% for name_authorisation in name_authorisations %}
        <table class="detail-table">
          {{ paper_corrected::columns_head(name_authorisation.heading) }}
          <tbody>
            {% if !political_group.mode.is_recovery() || !political_group.is_appellation_scrapped %}
              {{ paper_corrected::data_row("political_group.legal_name"|trans, name_authorisation.legal_name) }}
              {{ paper_corrected::data_row("political_group.authorised_agent"|trans, name_authorisation.authorised_agent) }}
            {% else %}
              <tr>
                <td><s>{{ "political_group.legal_name"|trans }}: {{ paper_corrected::value(name_authorisation.legal_name) }}</s></td>
                <td><span class="restoration-tag restoration-tag-scrapped">{{ "csb.recovery.scrapped"|trans }}</span></td>
                <td></td>
              </tr>
              <tr>
                <td><s>{{ "political_group.authorised_agent"|trans }}: {{ paper_corrected::value(name_authorisation.authorised_agent) }}</s></td>
                <td><span class="restoration-tag restoration-tag-scrapped">{{ "csb.recovery.scrapped"|trans }}</span></td>
                <td></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endfor %}
    {% endif %}
    <h2>{{ "political_group.list_submitter_data"|trans }}</h2>
    {% if let Some(submitter) = list_submitter %}
      {{ submitter_tables(submitter) }}
    {% else %}
      <p class="font-italic">{{ "political_group.no_list_submitter"|trans }}</p>
    {% endif %}
    <h2>{{ "political_group.substitute_submitters_data"|trans }}</h2>
    {% if substitute_submitters.is_empty() %}
      <p class="font-italic">{{ "political_group.no_substitute_submitters"|trans }}</p>
    {% else %}
      {% for submitter in substitute_submitters %}
        <h3 class="mt-md">{{ submitter.heading }}</h3>
        {{ submitter_tables(submitter) }}
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}
