{% extends "csb/components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
{% endblock %}
{% block page_title %}{{ "csb.examination"|trans }}{% endblock %}
{% block content %}
  <div class="examination">
    <div class="examination-side">
      <div class="card mb-md">
        <div class="card-header">
          <div class="badge locked info"></div>
          <div>
            <h4>{{ "csb.finish_examination"|trans }}</h4>
          </div>
        </div>
        <div class="card-content">
          <ul class="card-instruction">
            <li>{{ "csb.finish_instruction.create_model_i1"|trans }}</li>
            <li>{{ "csb.finish_instruction.create_defects"|trans }}</li>
          </ul>
          <button class="button mt-md">{{ "csb.action.finish"|trans }}</button>
          <a href="{{ CsbI1DownloadPath }}"
             class="button secondary icon-download mt-md">Print I 1</a>
          <a href="{{ CsbI4DownloadPath }}"
             class="button secondary icon-download mt-md">Print I 4</a>
        </div>
      </div>
      <h4>{{ "csb.progress"|trans }}</h4>
      <div class="progress-bar mt-md">
        <progress value="42", max="100"></progress>
        <p class="percentage">42%</p>
      </div>
    </div>
    <div class="examination-main card card-plain">
      <a href="{{ CsbImportPath }}" class="button secondary icon-plus">{{ "csb.action.add_political_group"|trans }}</a>
      <h2>{{ "csb.added"|trans }}</h2>
      {% if unfinished_political_groups.is_empty() && finished_political_groups.is_empty() %}
        <p class="font-italic">{{ "csb.no_political_groups_added"|trans }}</p>
      {% else if unfinished_political_groups.is_empty() %}
        <p class="font-italic">{{ "csb.no_unfinished_political_groups"|trans }}</p>
      {% else %}
        <table class="political-group-table mb-xl mt-md">
          <thead>
            <tr>
              <th>{{ "common.political_group"|trans }}</th>
              <th>Status</th>
              <th>BRP check</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for pg in unfinished_political_groups %}
              <tr class="clickable">
                <td>{{ pg.csb_appellation() }}</td>
                <td>
                  <div class="status in-progress">{{ "csb.status.in_progress"|trans }}</div>
                  {% if pg.omission_count > 0 %}
                    <div class="status omission">{{ "csb.status.omission"|trans }}</div>
                  {% endif %}
                </td>
                <td>{{ brp_badge(pg.brp, pg.group_path() ) }}</td>
                <td>
                  <a href="{{ pg.group_path() }}" title="{{ "csb.action.examine"|trans }}"></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <h2>{{ "csb.finished"|trans }}</h2>
      {% if finished_political_groups.is_empty() %}
        <p class="font-italic">{{ "csb.no_finished_political_group"|trans }}</p>
      {% else %}
        <table class="political-group-table mb-xl mt-md">
          <thead>
            <tr>
              <th>{{ "common.political_group"|trans }}</th>
              <th>Status</th>
              <th>BRP check</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for pg in finished_political_groups %}
              <tr class="clickable">
                <td>{{ pg.csb_appellation() }}</td>
                <td>
                  {% if pg.omission_count == 0 %}
                    <div class="status approved">{{ "csb.status.approved"|trans }}</div>
                  {% else %}
                    <div class="status omission">{{ "csb.status.omission"|trans }}</div>
                  {% endif %}
                </td>
                <td>{{ brp_badge(pg.brp, pg.group_path() ) }}</td>
                <td>
                  <a href="{{ pg.group_path() }}" title="{{ "csb.action.examine"|trans }}"></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
