{% extends "components/layout.html" %}
{% block page_title %}{{ "csb.examination"|trans }}{% endblock %}
{% block content %}
  <div class="examination">
    <div class="examination-side">
      <div class="card mb-md">
        <div class="card-header">
          <div class="badge locked info"></div>
          <div>
            <h4>{{ "csb.finish_examination"|trans }}</h4>
          </div>
        </div>
        <div class="card-content">
          <ul class="card-instruction">
            <li>{{ "csb.finish_instruction.create_model_i1"|trans }}</li>
            <li>{{ "csb.finish_instruction.create_defects"|trans }}</li>
          </ul>
          <button class="button md">{{ "csb.action.finish"|trans }}</button>
        </div>
      </div>
      <h4>{{ "csb.progress"|trans }}</h4>
      <div class="progress-bar mt-md">
        <progress value="42", max="100"></progress>
        <p class="percentage">42%</p>
      </div>
    </div>
    <div class="examination-main card card-plain">
      <a href="{{ CsbImportPath }}" class="button secondary icon-plus">{{ "csb.action.add_political_group"|trans }}</a>
      <h2>{{ "csb.added"|trans }}</h2>
      <table class="political-group-table mb-xl mt-md">
        <thead>
          <tr>
            <th>{{ "common.political_group"|trans }}</th>
            <th>Status</th>
            <th>BRP check</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for pg in political_groups %}
            <tr class="clickable">
              <td>{{ pg.display_name.as_deref().unwrap_or(&"?".to_string()) }}</td>
              <td>
                <div class="status in-progress">{{ "csb.status.in_progress"|trans }}</div>
              </td>
              <td>
                <ul class="tags-list">
                  <li class="tag link width-md">
                    <a class="ok" href="#">{{ "csb.brp.correct"|trans }}</a>
                  </li>
                </ul>
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- TODO: filter political groups by whether or not they are filtered -->
      <h2>{{ "csb.finished"|trans }}</h2>
      <table class="political-group-table mb-xl mt-md">
        <thead>
          <tr>
            <th>{{ "common.political_group"|trans }}</th>
            <th>Status</th>
            <th>BRP check</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable">
            <td>Kiesraad Demo Kiesraad Demo Kiesraa</td>
            <td>
              <div class="status omission">{{ "csb.status.omission"|trans }}</div>
            </td>
            <td>
              <ul class="tags-list">
                <li class="tag link width-md">
                  <a class="ok" href="#">{{ "csb.brp.correct"|trans }}</a>
                </li>
              </ul>
            </td>
            <td>
              <a href="#"></a>
            </td>
          </tr>
          <tr class="clickable">
            <td>Partij van de Toekomst</td>
            <td>
              <div class="status approved">{{ "csb.status.approved"|trans }}</div>
            </td>
            <td>
              <ul class="tags-list">
                <li class="tag link width-md">
                  <a class="error" href="#">{{ "csb.brp.errors"|trans }}</a>
                </li>
              </ul>
            </td>
            <td>
              <a href="#"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
