{% extends "components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(political_group.examination_path() , political_group.political_group.csb_display_name(), is_translatable=false) }}
{% endblock %}
{% block page_title %}
  {{ political_group.political_group.csb_display_name() }}
{% endblock %}
{% block header_action %}
  <div class="header-controls">
    <div class="switch-group {% if political_group.is_examination_finished %} finished {% else %} unfinished {% endif %}">
      <p>
        {% if political_group.is_examination_finished %}
          {{ "csb_political_group.examination_finished"|trans }}
        {% else %}
          {{ "csb_political_group.examination_unfinished"|trans }}
        {% endif %}
      </p>
      <form method="post"
            action="{{ political_group.examination_toggle_finish_path() }}">
        <label class="switch">
          <input type="submit">
          <span class="slider"></span>
        </label>
      </form>
    </div>
    <a class="button secondary icon-restoration">
      {{ "csb_political_group.all_restorations"|trans }}
      <span class="restoration_count">{{ restoration_count }}</span>
    </a>
  </div>
{% endblock %}
{% block content %}
  <section class="candidate-lists {% if political_group.is_examination_finished %} disabled {% endif %}">
    <div class="candidates">
      <div data-href="#" class="card card-brp-errors">
        <div class="card-header">
          <div class="badge {% if all_brp_error_count > 0 %} error {% else %} success {% endif %}"></div>
          <div>
            <h3 class="h4">{{ "csb_political_group.all_brp_errors"|trans }}</h3>
          </div>
        </div>
        <div class="card-content">
          <ul class="tags-list">
            <li class="tag link">
              {% if all_brp_error_count == 0 %}
                <a class="ok" href="#">{{ "csb_political_group.brp_errors.none"|trans }}</a>
              {% else if all_brp_error_count == 1 %}
                <a class="error" href="#">{{ "csb_political_group.brp_errors.singular"|trans }}</a>
              {% else %}
                <a class="error" href="#">{{ "csb_political_group.brp_errors.plural"|trans(&all_brp_error_count.to_string() ) }}</a>
              {% endif %}
            </li>
          </ul>
          <p>{{ "csb_political_group.all_brp_errors_note"|trans }}</p>
        </div>
        <a class="card-footer">{{ "csb_political_group.actions.examine_all_brp_errors"|trans }}</a>
      </div>
    </div>
    <div class="cards cards-candidate-lists">
      <div class="card card-candidate-list" data-href="#">
        <div class="card-header">
          <div class="badge badge-data"></div>
          <div>
            <h3 class="h4">{{ "common.general_information"|trans }}</h3>
          </div>
        </div>
        <div class="card-content">
          <ul class="tags-list">
            <li class="tag link">
              {% if general_brp_error_count == 0 %}
                <a class="ok" href="#">{{ "csb_political_group.brp_errors.none"|trans }}</a>
              {% else if general_brp_error_count == 1 %}
                <a class="error" href="#">{{ "csb_political_group.brp_errors.singular"|trans }}</a>
              {% else %}
                <a class="error" href="#">{{ "csb_political_group.brp_errors.plural"|trans(&general_brp_error_count.to_string() ) }}</a>
              {% endif %}
            </li>
          </ul>
          <ul class="card-instruction">
            <li>{{ "csb_political_group.general_instruction_political_group"|trans }}</li>
            <li>{{ "csb_political_group.general_instruction_list_submitter"|trans }}</li>
          </ul>
        </div>
        <a class="card-footer" href="#">{{ "csb_political_group.actions.examine_general"|trans }}</a>
      </div>
      {% for candidate_list in candidate_lists %}
        <div class="card card-candidate-list" data-href="#">
          <div class="card-header">
            <div class="badge badge-candidates-list"></div>
            <div>
              <h3 class="h4">{{ "candidate_list.title_single"|trans }}</h3>
            </div>
          </div>
          <div class="card-content">
            <ul class="tags-list">
              <li class="tag link">
                {% if candidate_list.brp_error_count == 0 %}
                  <a class="ok" href="#">{{ "csb_political_group.brp_errors.none"|trans }}</a>
                {% else if candidate_list.brp_error_count == 1 %}
                  <a class="error" href="#">{{ "csb_political_group.brp_errors.singular"|trans }}</a>
                {% else %}
                  <a class="error" href="#">{{ "csb_political_group.brp_errors.plural"|trans(&candidate_list.brp_error_count.to_string() ) }}</a>
                {% endif %}
              </li>
            </ul>
            <p>{{ "csb_political_group.candidate_count"|trans(&candidate_list.list.candidates.len().to_string())|safe }}</p>
            {% if !election.has_only_one_district() %}
              <div class="tags">
                <h5 class="tags-label">{{ "common.electoral_districts"|trans }}:</h5>
                {% if candidate_list.list.electoral_districts.len() == election.electoral_districts().len() %}
                  <p>{{ "candidate_list.districts.all"|trans }}</p>
                {% else %}
                  <ul class="tags-list">
                    {% for district in candidate_list.list.electoral_districts %}
                      <li class="tag">
                        <a class="unclickable">{{ district|district_name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <a class="card-footer" href="#">{{ "csb_political_group.actions.examine_list"|trans }}</a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
