{% extends "csb/components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(crate::csb::examination::CsbFinishExaminationPath, "csb.finish_examination.title") }}
  {{ breadcrumb(crate::csb::examination::CsbSessionDetailsPath, "csb.finish_examination.hearing_details") }}
{% endblock %}
{% block page_title %}{{ "csb.finish_examination.hearing_details"|trans }}{% endblock %}

{% block content %}
<form method="post" class="page-form form">
  <div class="steps">
    <div class="steps-nav">
      <ul>
        <li>
          {{ "csb.finish_examination.hearing_details"|trans }}
        </li>
        <li>
          {{ "csb.finish_examination.hearing_details"|trans }}
        </li>
      </ul>
    </div>
  </div>
</form>
{% endblock %}
