<div class="form-row">
  <p class="form-field form-field-sm {% if form.data.representative_initials.is_empty() && should_warn %}warning{% endif %}">
    <label for="representative_initials">{{ "person.fields.initials"|trans }}</label>
    <input type="text" name="representative_initials" id="representative_initials"
      value="{{ form.data.representative_initials }}" class="initials-input" />
    <label class="autoformat">
      <input type="checkbox" checked />
      <span>{{ "person.autoformat_initials"|trans }}</span>
    </label>
    {% for error in form|error("representative_initials") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
  <p class="form-field form-field-sm">
    <label for="representative_last_name_prefix">{{ "person.fields.last_name_prefix"|trans }}</label>
    <input type="text" name="representative_last_name_prefix" id="representative_last_name_prefix"
      value="{{ form.data.representative_last_name_prefix }}" />
    {% for error in form|error("representative_last_name_prefix") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
  <p class="form-field {% if form.data.representative_last_name.is_empty() && should_warn %}warning{% endif %}">
    <label for="representative_last_name">{{ "person.fields.last_name"|trans }}</label>
    <input type="text" name="representative_last_name" id="representative_last_name"
      value="{{ form.data.representative_last_name }}" />
    {% for error in form|error("representative_last_name") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
</div>

{% include "components/address_fields.html" %}
