{% extends "common/components/overlay.html" %}
{% block overlay_title %}
  <span class="person-badge"></span>
  {{ person.display_name() }}
{% endblock %}
{% set close_action = person.highlight_path() %}
{% block overlay_steps %}
  {% include "persons/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  <fieldset>
    <h3>{{ "person.representative"|trans }}</h3>
    <div class="alert alert-info">{{ "person.representative_info"|trans }}</div>
    <div class="mt-md">{% include "persons/components/representative_form.html" %}</div>
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  {% if !should_warn %}
    {% set submit_label = "action.add"|trans %}
    {% include "common/components/submit.html" %}
  {% else %}
    {% include "common/components/submit.html" %}
  {% endif %}
{% endblock %}
