{% extends "pg/common/components/layout.html" %}
{% block page_title %}{{ "common.finalise"|trans }}{% endblock %}
{% block overview_nav_class %}active{% endblock %}
{% block content %}
  {% let max_candidates = "max_candidates"|integer_value %}
  {% let election = "election"|election_value %}
  <div class="finalise">
    <div class="step {{ problems.highest_severity_class() }} illustration-errors">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.complete_list.title"|trans }}</h2>
        </div>
        <div class="step-content">
          <section class="card problems-card">
            <div class="section-heading">
              <h4>{{ "common.general_information"|trans }}</h4>
              <div class="problem-legend">
                <span class="info">{{ "problems.legend.info"|trans }}</span>
                <span class="warning">{{ "problems.legend.warning"|trans }}</span>
                <span class="error">{{ "problems.legend.error"|trans }}</span>
              </div>
            </div>
            {% if problems.general.flatten().is_empty() %}
              <div class="card success">{{ "problems.no_problems"|trans }}</div>
            {% else %}
              <div class="card">
                {% if !problems.general.general.is_empty() %}
                  <div class="mb-md">
                    <ul class="warnings tags-list">
                      {% for problem in problems.general.general %}
                        <li class="tag link">
                          <a class="{{ problem.severity().class() }}"
                             href="{{ problem.general_fix_path() }}">{{ problem.translate(locale) }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% for agent_pp in problems.general.name_authorisations %}
                  <div class="mb-md">
                    <div class="mb-sm">{{ agent_pp.entity.name.display() }} ({{ "political_group.authorised_agent"|trans }}):</div>
                    <ul class="warnings tags-list">
                      {% for problem in &agent_pp.problems %}
                        <li class="tag link">
                          <a class="{{ problem.severity().class() }}"
                             href="{{ agent_pp.entity.update_path() }}">{{ problem.translate(locale) }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
                {% if problems.general.list_submitter.is_some() %}
                  <div class="mb-md">
                    <div class="mb-sm">
                      {{ problems.general.list_submitter.as_ref().unwrap().entity.name.display() }} ({{ "political_group.list_submitter"|trans }}):
                    </div>
                    <ul class="warnings tags-list">
                      {% for problem in problems.general.list_submitter.as_ref().unwrap().problems %}
                        <li class="tag link">
                          <a class="{{ problem.severity().class() }}"
                             href="{{ ListSubmitter::update_path_from(FinalisePath {}) }}">{{ problem.translate(locale) }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% for ss_pp in problems.general.substitute_submitters %}
                  <div class="mb-md">
                    <div class="mb-sm">{{ ss_pp.entity.name.display() }} ({{ "political_group.substitute_submitter"|trans }}):</div>
                    <ul class="warnings tags-list">
                      {% for problem in &ss_pp.problems %}
                        <li class="tag link">
                          <a class="{{ problem.severity().class() }}"
                             href="{{ ss_pp.entity.substitute_update_path_from(FinalisePath {}) }}">{{ problem.translate(locale) }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <h4>{{ "common.candidates"|trans }}</h4>
            {% if problems.candidates.is_empty() %}
              <div class="card success">{{ "problems.no_problems"|trans }}</div>
            {% else %}
              <div class="card">
                {% for candidate_pp in &problems.candidates %}
                  <div>
                    <div class="mb-sm">{{ candidate_pp.entity.name.display() }}:</div>
                    <ul class="warnings tags-list">
                      {% for problem in &candidate_pp.problems %}
                        <li class="tag link">
                          <a class="{{ problem.severity().class() }}"
                             href="{{ problem.person_fix_path(&candidate_pp.entity) }}">{{ problem.translate(locale) }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <h4>{{ "candidate_list.title_plural"|trans }}</h4>
            {% if problems.lists.is_empty() %}
              <div class="card success">{{ "problems.no_problems"|trans }}</div>
            {% else %}
              <div class="card">
                <ul class="warnings tags-list">
                  {# NOTE ordering only works because we assume all general list problems are of the highest severity #}
                  {% for problem in &problems.lists.general %}
                    <li class="tag link">
                      <a class="{{ problem.severity().class() }}"
                         href="{{ problem.general_fix_path() }}">{{ problem.translate(locale) }}</a>
                    </li>
                  {% endfor %}
                  {% for list_problems in &problems.lists.per_list %}
                    {% for problem in &list_problems.problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ problem.candidate_list_fix_path(&list_problems.entity) }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if !problems.info_problems.is_empty() %}
              <h4>{{ "problems.legend.info"|trans }}</h4>
              <div class="card read-more">
                <input type="checkbox" id="info-toggle" class="toggle" hidden>
                <ul class="warnings tags-list partially-hidden">
                  {% for problem in problems.info_problems %}
                    <li class="tag link">
                      <a class="{{ problem.severity().class() }}"
                         href="{{ problem.fix_path() }}">{{ problem.translate(locale) }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <label for="info-toggle" class="more-less center open">{{"action.show"|trans}}</label>
                <label for="info-toggle" class="more-less center close">{{"action.hide"|trans}}</label>
              </div>
            {% endif %}
          </section>
        </div>
      </div>
    </div>
    <div class="step {{ problems.highest_severity_class() }} illustration-printing">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.print.title"|trans }}</h2>
        </div>
        <div class="step-content">
          <section>
            {% if problems.highest_severity() == Some(Severity::Error) %}
              <div class="alert alert-error">{{ "finalise.print.errors_warning"|trans }}</div>
            {% else if problems.highest_severity() == Some(Severity::Warn) %}
              <div class="alert alert-warning">{{ "finalise.print.incomplete_warning"|trans }}</div>
            {% endif %}
            <div class="step-grid">
              <div>
                <h5>{{ "finalise.print.h1_title"|trans }}</h5>
                <p>{{ "finalise.print.h1_description"|trans }}</p>
              </div>
              {% if list_designation != Some(ListDesignation::Blank) %}
                <div>
                  {% if list_designation == Some(ListDesignation::Combined) %}
                    <h5>{{ "finalise.print.h3_2_title"|trans }}</h5>
                    <p>{{ "finalise.print.h3_2_description"|trans }}</p>
                  {% else %}
                    <h5>{{ "finalise.print.h3_1_title"|trans }}</h5>
                    <p>{{ "finalise.print.h3_1_description"|trans }}</p>
                  {% endif %}
                </div>
              {% endif %}
              {% if !previously_seated %}
                <div>
                  <h5>{{ "finalise.print.h4_title"|trans }}</h5>
                  <p>{{ "finalise.print.h4_description"|trans }}</p>
                </div>
              {% endif %}
              <div>
                <h5>{{ "finalise.print.h9_title"|trans }}</h5>
                <p>
                  {{ "finalise.print.h9_consent"|trans }}
                  <br>
                  {{ "finalise.print.h9_identity"|trans }}
                </p>
              </div>
              <div>
                <h5>{{ "finalise.print.eml_title"|trans }}</h5>
                <p>{{ "finalise.print.eml"|trans }}</p>
              </div>
            </div>
            <div class="card">
              <div class="step-downloads">
                <div class="step-download">
                  {% if frisian_export_allowed %}
                    <div>{{ "common.languages.dutch"|trans }}:</div>
                  {% endif %}
                  {% if problems.models_downloadable() %}
                    <a href="{{ download_path_nl }}" class="button primary icon-download">{{ "action.all_in_one_zip"|trans }}</a>
                  {% else %}
                    <a class="button primary icon-download disabled"
                       disabled
                       aria-disabled="true">{{
                      "action.all_in_one_zip"|trans
                    }}</a>
                  {% endif %}
                </div>
                <div class="step-download">
                  {% if frisian_export_allowed %}
                    <div>{{ "common.languages.frisian"|trans }}:</div>
                    {% if problems.models_downloadable() %}
                      <a href="{{ download_path_fry }}" class="button primary icon-download">Alles yn ien zip</a>
                    {% else %}
                      <a href="{{ download_path_fry }}"
                         class="button primary icon-download disabled"
                         disabled
                         aria-disabled="true">Alles yn ien zip</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="content-header">
      <h3>{{ "finalise.follow_up_steps.title"|trans }}</h3>
      <p>{{ "finalise.follow_up_steps.description"|trans }}</p>
    </div>
    <div class="step illustration-collection">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.collection.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p>{{ "finalise.collection.gather_h9"|trans }}</p>
          <p>{{ "finalise.collection.pre_submission"|trans }}</p>
        </div>
      </div>
    </div>
    <div class="step illustration-delivery">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.delivery.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">
            {{ "finalise.delivery.only_on"|trans(&election.nomination_day_date().format("%d-%m-%Y").to_string())|safe }}
          </p>
          <p>{{ "finalise.delivery.description"|trans |safe}}</p>
          <p>{{ "finalise.delivery.appointment"|trans }}</p>
          <address>
            Zurichtoren
            <br>
            Muzenstraat 85
            <br>
            2511 WB Den Haag
          </address>
        </div>
      </div>
    </div>
    <div class="step illustration-verification">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.verification.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">
            {{ "finalise.verification.until"|trans(&election.document_review_date().format("%d-%m-%Y").to_string())|safe }}
          </p>
          <p>{{ "finalise.verification.description"|trans }}</p>
          <p>{{ "finalise.verification.correction_notice"|trans }}</p>
        </div>
      </div>
    </div>
    <div class="step illustration-correction">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.correction.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">
            {{ "finalise.correction.until"|trans(&election.omission_period_end_date().format("%d-%m-%Y").to_string())|safe }}
          </p>
          <p>{{ "finalise.correction.description"|trans }}</p>
          <p>
            {{ "finalise.correction.deadline"|trans(&election.omission_period_end_date().format("%d-%m-%Y").to_string())|safe }}
          </p>
        </div>
      </div>
    </div>
    <div class="step illustration-hearing">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "finalise.hearing.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">
            {{ "finalise.hearing.date"|trans(&election.public_session().formatted_date(), &election.public_session().formatted_time())|safe }}
          </p>
          <p>{{ "finalise.hearing.description"|trans }}</p>
          <p>{{ "finalise.hearing.open_to_public"|trans }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
