<input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">

<div class="form-row">
  <p class="form-field form-field-sm">
    <label for="initials" class="required">{{ "person.fields.initials"|trans }}</label>
    <input type="text" name="initials" id="initials" value="{{ form.data.initials }}" required />
    {% for error in form|error("initials") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
  <p class="form-field form-field-sm">
    <label for="last_name_prefix">{{ "person.fields.last_name_prefix"|trans }}</label>
    <input type="text" name="last_name_prefix" id="last_name_prefix" value="{{ form.data.last_name_prefix }}" />
    {% for error in form|error("last_name_prefix") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
  <p class="form-field">
    <label for="last_name" class="required">{{ "person.fields.last_name"|trans }}</label>
    <input type="text" name="last_name" id="last_name" value="{{ form.data.last_name }}" required />
    {% for error in form|error("last_name") %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </p>
</div>
