{% extends "common/components/layout.html" %}
{% block page_title %}{{ "common.switch_election.label"|trans }}{% endblock %}
{% block content %}
  {% if !existing_elections.is_empty() %}
    <section class="election-switch-existing">
      <h2>{{ "common.switch_election.existing"|trans }}</h2>
      <table>
        <thead>
          <tr>
            <th>{{ "common.switch_election.election"|trans }}</th>
            <th>{{ "common.switch_election.region"|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for e in existing_elections %}
            <tr class="{% if *e == current_election %}highlighted{% else %}clickable{% endif %}">
              <td>{{ e.title(*title_locale) }}</td>
              <td>{{ e.region_title(*title_locale).unwrap_or("") }}</td>
              <td>
                {% if *e != current_election %}
                  <form method="post"
                        action="{{ crate::common::SwitchElectionPath.to_string() }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token.value }}">
                    <input type="hidden" name="election" value="{{ e.code() }}">
                    {% match e %}
                    {% when crate::ElectionConfig::PS27 with (p) %}
                    <input type="hidden" name="province" value="{{ p.code() }}">
                    {% when crate::ElectionConfig::WS27 with (wc) %}
                    <input type="hidden" name="water_council" value="{{ wc.code() }}">
                    {% when _ %}
                  {% endmatch %}
                  <button type="submit" class="button secondary">
                    <span>{{ "common.switch_election.resume"|trans }}</span>
                  </button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}
<form method="post"
      action="{{ crate::common::SwitchElectionPath.to_string() }}"
      class="form election-switch mt-xl">
  <input type="hidden" name="csrf_token" value="{{ csrf_token.value }}">
  <fieldset>
    <p class="form-field form-field-lg">
      <label for="election">{{ "common.switch_election.label"|trans }}</label>
      <select name="election" id="election">
        {% for e in elections %}
          <option value="{{ e.code() }}"
                  {% if current_type == e.code() %}selected{% endif %}>{{ e.title(*title_locale) }}</option>
        {% endfor %}
      </select>
    </p>
    <p class="form-field form-field-lg region-select mt-md"
       data-for-election="PS27">
      <label for="province">{{ "common.switch_election.province"|trans }}</label>
      <select name="province" id="province">
        <option value="">-- {{ "common.switch_election.select_region"|trans }} --</option>
        {% for p in provinces %}
          <option value="{{ p.code() }}"
                  {% if let Some(sel) = selected_province && *sel == *p %}selected{% endif %}>
            {{ p.title(*title_locale) }}
          </option>
        {% endfor %}
      </select>
    </p>
    <p class="form-field form-field-lg region-select mt-md"
       data-for-election="WS27">
      <label for="water_council">{{ "common.switch_election.water_council"|trans }}</label>
      <select name="water_council" id="water_council">
        <option value="">-- {{ "common.switch_election.select_region"|trans }} --</option>
        {% for wc in water_councils %}
          <option value="{{ wc.code() }}"
                  {% if let Some(sel) = selected_water_council && *sel == *wc %}selected{% endif %}>
            {{ wc.title(*title_locale) }}
          </option>
        {% endfor %}
      </select>
    </p>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="button">{{ "common.switch_election.submit"|trans }}</button>
  </div>
</form>
{% endblock %}
