{% extends "pg/common/components/base.html" %}
{% block body %}
  {% include "pg/common/components/public_header.html" %}
  <main>
    <div class="container auth-container">
      <h2>{{ "csb.auth.start.title"|trans }}</h2>
      {% if show_error %}<div class="alert alert-error">{{ "csb.auth.error.message"|trans }}</div>{% endif %}
      <p>{{ "csb.auth.start.intro"|trans }}</p>
      <form method="post" action="{{ crate::csb::login::CsbLoginPath }}">
        <button type="submit" class="button">{{ "csb.auth.button.github"|trans }}</button>
      </form>
    </div>
  </main>
{% endblock %}
