{% extends "candidate_lists/view.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" action="{{ details.list.edit_candidate_position_path(candidate.person.id) }}" class="overlay">
  <header>
    <h2>
      <span class="position-badge">{{ candidate.position }}</span>
      {{ candidate.person.display_name() }}
    </h2>
    <a href="{{ details.list.view_path() }}" class="close-overlay" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </a>
  </header>
  <div class="overlay-content steps">
    <div>
      <ul>
        <li>
          <a href="{{ details.list.edit_candidate_position_path(candidate.person.id) }}" class="active">
            {{ t!("candidate_list.edit_position")|trans }}
          </a>
        </li>
        <li>
          <a href="{{ candidate.person.edit_path() }}" class="ok">
            {{ t!("candidate_list.edit_personal_details")|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="form">
      <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
      {% for error in form|error("csrf_token") %}
      <span class="error">{{ error }}</span>
      {% endfor %}
      <p class="form-field">
        <label for="position">{{ t!("candidate_list.fields.position")|trans }}</label>
        <input type="number" id="position" name="position" min="1" value="{{ form.data.position }}" required>
        {% for error in form|error("position") %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </p>
      <div id="position-preview-container">
        <table class="table" id="position-preview">
          <tbody>
            {% for c in details.candidates %}
            <tr class="{% if c.person.id == candidate.person.id %}current{% endif %}">
              <td>
                <span class="position-badge">{{ c.position }}</span>
              </td>
              <td>
                <strong>{{ c.person.last_name }},</strong>
                {{ c.person.initials }}
                {% if let Some(first_name) = c.person.first_name %}
                ({{ first_name }})
                {% endif %}
              </td>
              <td>
                {% if let Some(locality) = c.person.locality %}
                  {{ locality }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <p class="mt-xl">
        <button type="submit" class="button tertiary-destructive icon-trash" name="action" value="remove">
          {{ t!("candidate_list.remove_candidate")|trans }}
        </button>
      </p>
    </div>
  </div>
  <footer>
    <button type="submit" class="button" name="action" value="move">
      {{ t!("action.save")|trans }}
    </button>
  </footer>
</form>
{% endblock %}
