{% extends "layout.html" %}

{% block page_title %}{{ "candidate_list.title"|trans }}{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}

{% block header_action %}
  <a href="{{ CandidateList::new_path() }}" class="button secondary icon-plus">
    {{ "candidate_list.actions.add"|trans }}
  </a>
{% endblock %}

{% block content %}
<section>
  <div class="cards cards-candidate-lists">
    {# manage persons card #}
    <a href="{{ Person::list_path() }}" class="card card-persons">
      <h3>{{ "person.all"|trans }}</h3>
      <p class="statistic">
        {{ "person.total"|trans(&total_persons.to_string()) }}
      </p>
    </a>

    <div class="cards-right">
      {% if let Ok(election) = "election"|value::<crate::ElectionConfig> %}
        {% if let Ok(max_candidates) = "max_candidates"|value::<usize> %}
          {% for candidate_list in candidate_lists %}
          <a href="{{ candidate_list.list.view_path() }}" class="card card-list">
            <h3>{{ candidate_list.list|list_name }}</h3>
            <h5>{{ "common.electoral_districts"|trans }}:</h5>
            {% if candidate_list.list.electoral_districts.len() == election.electoral_districts().len() %}
              <p>{{ "candidate_list.districts.all"|trans }}</p>
            {% else %}
              <ul>
                {% for district in candidate_list.list.electoral_districts %}
                <li><span>{{ district.title() }}</span></li>
                {% endfor %}
              </ul>
            {% endif %}
            <p class="statistic">
              {{ "candidate_list.candidate_count"|trans(&candidate_list.person_count.to_string(), &max_candidates.to_string())|safe }}
            </p>
          </a>
          {% endfor %}
        {% endif %}
      {% endif %}

      {# add new candidate list card #}
      <div class="card card-add-list">
        <a href="{{ CandidateList::new_path() }}" class="button secondary icon-plus">
          {{ "candidate_list.actions.add"|trans }}
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
