{% extends "candidate_lists/list.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" action="{{ candidate_list.update_path() }}" class="overlay">
  <header>
    <h2>
      {{ "candidate_list.form.update.title"|trans }}
    </h2>
    <a href="{{ candidate_list.view_path() }}" class="close-overlay" aria-label="{{ "action.close"|trans }}">
      <span>{{ "action.close"|trans }}</span>
    </a>
  </header>
  <div class="overlay-content steps">
    <div class="steps-nav">
      <ul>
        <li>
          <a href="{{ candidate_list.update_path() }}">
            {{ "candidate_list.fields.electoral_districts"|trans }}
          </a>
        </li>
        <li>
          <a href="{{ candidate_list.edit_list_submitter_path() }}">
            {{ "candidate_list.fields.list_submitter"|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="form">
      {% include "candidate_lists/components/districts_form.html" %}
      <button class="button tertiary-destructive icon-trash open-modal mt-xl" type="button">
        {{ "candidate_list.actions.delete_list"|trans }}
      </button>
    </div>
  </div>
  <footer>
    <button type="submit" class="button">
      {{ "action.save_and_close"|trans }}
    </button>
  </footer>
</form>

<dialog class="modal">
  <form method="post" action="{{ candidate_list.delete_path() }}" class="form">
    <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
    <button class="close-modal" aria-label="{{ "action.close"|trans }}">
      <span>{{ "action.close"|trans }}</span>
    </button>
    <h3>
      {{ "candidate_list.actions.delete_list"|trans }}
    </h3>
    <p class="mt-lg mb-lg">{{ "candidate_list.form.delete_warning_text"|trans }}</p>
    <button type="submit" class="button primary-destructive">
      {{ "action.delete"|trans }}
    </button>
    <button type="submit" class="button secondary close">
      {{ "action.cancel"|trans }}
    </button>
  </form>
</dialog>
{% endblock %}
