{% extends "common/components/overlay.html" %}
{% set close_action = list.view_path() %}
{% block overlay_title %}{{ "candidate_list.actions.import_export"|trans }}{% endblock %}
{% block overlay_content %}
  <div class="form overlay-content">
    <form>
      <input type="file"
             name="file_data"
             id="import_file"
             accept=".csv"
             class="hidden">
    </form>
    {% if list.candidates.len() > 0 %}
      {# open a modal with overwrite confirmation #}
      <button class="button secondary icon-down open-modal" type="button">
        {{ "candidate_list.actions.import"|trans }}
      </button>
    {% else %}
      {# directly perform import #}
      <button class="button secondary icon-down one-click-upload"
              target="import_file">{{ "candidate_list.actions.import"|trans }}</button>
    {% endif %}
    <a href="{{ list.export_path() }}"
       class="button secondary icon-up"
       type="button">{{ "candidate_list.actions.export"|trans }}</a>
  </div>
{% endblock %}
{% block overlay_footer %}{% endblock %}
