<fieldset>
  <p class="form-field form-field-sm">
    <label for="position">{{ "candidate_list.fields.position"|trans }}</label>
    <input type="number"
           id="position"
           name="position"
           min="1"
           value="{{ form.data.position }}"
           required>
    {% for error in form|error("position") %}<span class="error">{{ error }}</span>{% endfor %}
    {% if let Some(position_warning) = position_warning %}
      <span class="warning">{{ "common.warning_prefix"|trans }}: {{ "problems.position_warning"|trans(&position_warning.max_candidates.to_string() ) }}</span>
    {% endif %}
  </p>
  <div id="position-preview-container">
    <table class="table" id="position-preview">
      <thead>
        <tr>
          <th>{{ "candidate_list.fields.position"|trans }}</th>
          <th>{{ "person.fields.name"|trans }}</th>
          <th>{{ "person.fields.locality"|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for c in full_list.candidates %}
          <tr class="{% if c.data.person.id == candidate.person.id %}current{% endif %}">
            <td>
              <span class="badge position-badge">{{ c.data.position }}</span>
            </td>
            <td>
              <strong>{{ c.data.person.name.last_name }},</strong>
              {{ c.data.person.name.initials|display }}
              {% if let Some(first_name) = c.data.person.name.first_name %}({{ first_name }}){% endif %}
            </td>
            <td>{% if let Some(locality) = c.data.person.address.locality %}{{ locality }}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>
