{% extends "layout.html" %}

{% block page_title %}
{{ "common.general_information"|trans }}
{% endblock %}

{% block header_action %}
  <a href="/" class="button secondary">
    {{ "action.back"|trans }}
  </a>
{% endblock %}

{% block content %}
  <div class="steps">
    {% include "political_groups/components/steps.html" %}
    <div>
      {% if list_submitters.is_empty() %}
      <section>
        <p>No list submitters found.</p>
      </section>
      {% else %}
      <section>
        <table>
          <thead>
            <tr>
              <th scope="col">{{ "person.fields.last_name"|trans }}</th>
              <th scope="col">{{ "person.fields.initials"|trans }}</th>
              <th scope="col">{{ "person.fields.locality"|trans }}</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for submitter in list_submitters %}
            <tr>
              <td>{{ submitter.last_name_with_prefix() }}</td>
              <td>{{ submitter.initials }}</td>
              <td>{{ submitter.locality }}</td>
              <td>
                <a href="{{ submitter.edit_path() }}">
                  <span>{{ "action.edit"|trans }}</span>
                </a>
              </td>
              <td>
                <form method="post" action="{{ submitter.delete_path() }}">
                  <button type="submit" class="button secondary">{{ "action.delete"|trans }}</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      {% endif %}

        <a href="{{ ListSubmitter::new_path() }}" class="button secondary icon-plus" type="button">
          Add list submitter
        </a>
    </div>
  </div>
{% endblock %}
