{% extends "political_groups/components/overlay.html" %}

{% block overlay_title %}{{ "political_group.add_list_submitter"|trans }}{% endblock %}

{% block overlay_start %}<form method="post" action="{{ ListSubmitter::new_path() }}" class="overlay">{% endblock %}
{% block overlay_end %}</form>{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    <div class="steps-nav">
      <ul>
        <li>
          <a href="{{ ListSubmitter::new_path() }}">
            {{ "political_group.add_list_submitter"|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="form">
      <fieldset>
        {% set should_warn = false %}
        {% include "political_groups/components/list_submitter_form.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
