{% extends "layout.html" %}

{% block page_title %}
{{ "common.general_information"|trans }}
{% endblock %}

{% block header_action %}
<a href="/" class="button secondary">
  {{ "action.back"|trans }}
</a>
{% endblock %}

{% block content %}
<div class="steps">
  {% include "political_groups/components/steps.html" %}
  <div>
    <h2>{{ "political_group.list_submitter_data"|trans }}</h2>
    <div class="alert alert-info">
      {{ "political_group.select_default_list_submitter_info"|trans }}
    </div>
    {% if list_submitters.is_empty() %}
      <p>{{ "political_group.no_list_submitters"|trans }}</p>
    {% else %}
      <form method="post" action="{{ ListSubmitter::select_default_path() }}" class="form mt-lg">
        <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
        <fieldset class="form-field">
          <legend class="legend-sm">{{ "political_group.default_list_submitter"|trans }}</legend>
          <div class="checklist">
          {% for submitter in list_submitters %}
            {% set submitter_id = submitter.id.to_string() %}
            <label for="list_submitter_id_{{ submitter_id }}" class="checkbox radio-card">
              <input type="radio" name="list_submitter_id" value="{{ submitter_id }}" {% if
                    form.data.list_submitter_id==submitter_id %}checked{% endif %}
                    id="list_submitter_id_{{ submitter_id }}"/>
              <span>
                <strong>{{ submitter.last_name_with_prefix() }}</strong>, {{ submitter.initials }}
                <br/>
                {{ submitter.street_name|display }} {{ submitter.house_number|display }}{{ submitter.house_number_addition|display }}
                <br/>
                {{ submitter.postal_code|display }} {{ submitter.locality|display }}
                <br/>
              </span>
              <a href="{{ submitter.edit_path() }}" class="button secondary icon-edit">
                {{ "action.edit"|trans }}
              </a>
            </label>
            {% endfor %}
          </div>
          {% for error in form|error("list_submitter_id") %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </fieldset>
        <button type="submit" class="button lg">{{ "action.save"|trans }}</button>
      </form>
      {% endif %}
      <p class="mt-lg">
        <a href="{{ ListSubmitter::new_path() }}" class="button secondary icon-plus" type="button">
          {{ "political_group.add_list_submitter"|trans }}
        </a>
      </p>
  </div>
</div>
{% endblock %}
