{% extends "layout.html" %}

{% block page_title %}
{{ "common.general_information"|trans }}
{% endblock %}

{% block header_action %}
  <a href="/" class="button secondary">
    {{ "action.back"|trans }}
  </a>
{% endblock %}

{% block content %}
  <div class="steps">
    <div class="steps-nav">
      <ul>
        <li>
          <a href="{{ PoliticalGroup::edit_path() }}">
            {{ "political_group.basic_information"|trans }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ "political_group.list_submitter_data"|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div>
      {% include "political_groups/form.html" %}
    </div>
  </div>
{% endblock %}
