{% extends "common/components/base.html" %}
{% block body %}
  <header>
    <nav>
      <ul>
        <li>
          <a href="/" class="home" aria-label="{{ "common.home"|trans }}">
            <span>{{ "common.home"|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ crate::political_groups::PoliticalGroup::update_path() }}">{{ "common.general_information"|trans }}</a>
        </li>
        <li>
          <a href="{{ crate::candidate_lists::CandidateList::list_path() }}">
            {% if "multiple_candidate_lists"|value_true %}
              {{ "candidate_list.title_plural"|trans }}
            {% else %}
              {{ "candidate_list.title_single"|trans }}
            {% endif %}
          </a>
        </li>
        <li>
          <a href="{{ crate::submit::SubmitPath{}.to_string() }}">{{ "common.submit"|trans }}</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/" class="logout">{{ "action.signout"|trans }}</a>
        </li>
        {% let locale = "locale"|locale_value %}
        <li>
          <form action="{{ crate::common::SwitchLanguagePath{}.to_string() }}"
                method="post"
                class="language-switch">
            <button class="button sm {% if locale == crate::Locale::Nl %}active{% endif %}"
                    type="submit"
                    name="lang"
                    value="nl">NL</button>
            <button class="button sm {% if locale == crate::Locale::En %}active{% endif %}"
                    type="submit"
                    name="lang"
                    value="en">EN</button>
          </form>
        </li>
      </ul>
    </nav>
    <div class="header-content">
      <div>
        <h1>
          {% block page_title %}{{ "common.title"|trans }}{% endblock %}
        </h1>
        {% block page_sub_title %}{% endblock %}
      </div>
      {% block header_action %}{% endblock %}
    </div>
  </header>
  <main class="{% block main_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span>{{ "common.title"|trans }}</span>
    <span>{{ "common.version"|trans }} <strong>{{ env!("CARGO_PKG_VERSION") }}</strong></span>
  </footer>
  {% block overlay %}{% endblock %}
  {% if "show_success_alert"|value_true %}
    <div class="alert alert-success alert-floating">{{ "common.save_success"|trans }}</div>
  {% endif %}
{% endblock %}
