{% extends "csb/components/overlay.html" %}
{% import "pg/common/components/diff_table.html" as diff %}
{% set close_action = crate::csb::audit_log::CsbAuditLogPath{}.to_string() %}
{% block overlay_title %}{{ detail.description }}{% endblock %}
{% block overlay_content %}
  <div class="overlay-content">
    <dl class="event-meta">
      <dt>{{ "audit_log.fields.event_id"|trans }}</dt>
      <dd>
        {{ detail.event_id }}
      </dd>
      <dt>{{ "audit_log.fields.timestamp"|trans }}</dt>
      <dd>
        {{ detail.created_at|datetime_seconds }}
      </dd>
      <dt>{{ "audit_log.fields.stream"|trans }}</dt>
      <dd>
        {{ detail.stream_label }}
      </dd>
      <dt>{{ "audit_log.fields.user"|trans }}</dt>
      <dd>
        {{ detail.user }}
      </dd>
      {% if !detail.details.is_empty() %}
        <dt>{{ "audit_log.fields.details"|trans }}</dt>
        <dd>
          <pre>{{ detail.details }}</pre>
        </dd>
      {% endif %}
    </dl>
    {% if detail.changes.is_empty() %}
      <p class="mb-md">{{ "audit_log.detail.no_changes"|trans }}</p>
    {% else %}
      {{ diff::table(detail.changes) }}
    {% endif %}
  </div>
{% endblock %}
