{% include "common/components/person_name_fields.html" %}
<div class="form-row">
  <p class="form-field {% if form.data.personal_data.place_of_residence.is_empty() && should_warn %}warning{% endif %}">
    <label for="locality">{{ "person.fields.place_of_residence"|trans }}</label>
    <input type="text"
           placeholder=" "
           name="place_of_residence"
           id="locality"
           value="{{ form.data.personal_data.place_of_residence }}"
           list="locality-suggestions" />
    <datalist id="locality-suggestions"></datalist>
    {% for error in form|error("personal_data.place_of_residence") %}<span class="error">{{ error }}</span>{% endfor %}
  </p>
  <div class="form-field form-field-md {% if form.data.personal_data.country.is_empty() && should_warn %}warning{% endif %}">
    <label for="country">{{ "person.fields.country"|trans }}</label>
    {% let country_value = form.data.personal_data.country %}
    {% include "common/components/country_input.html" %}
    {% for error in form|error("personal_data.country") %}
      <span class="error">{{ error }}</span>
    {% else %}
      <span class="hint hide-nl">{{ "person.hints.country"|trans }}</span>
    {% endfor %}
  </div>
</div>
<div class="form-row">
  <div class="form-field {% if form.data.personal_data.bsn.is_empty() && form.data.personal_data.bsn != crate::common::BSN_NONE_CONFIRMATION && should_warn %}warning{% endif %}">
    <label for="bsn">{{ "person.fields.bsn"|trans }}</label>
    <input type="text"
           placeholder=" "
           name="bsn"
           id="bsn"
           value="{% if form.data.personal_data.bsn != crate::common::BSN_NONE_CONFIRMATION %}{{ form.data.personal_data.bsn }}{% endif %}" />
    {% if (form.data.personal_data.bsn.is_empty() || form.data.personal_data.bsn == crate::common::BSN_NONE_CONFIRMATION) && should_warn %}
      <label for="no_bsn_confirmed" class="no_bsn_confirmed">
        <input type="checkbox"
               name="bsn"
               id="no_bsn_confirmed"
               value="{{ crate::common::BSN_NONE_CONFIRMATION }}"
               {% if form.data.personal_data.bsn == crate::common::BSN_NONE_CONFIRMATION %}checked{% endif %} />
        <span>{{ "person.no_bsn_confirm"|trans }}</span>
      </label>
    {% endif %}
    {% for error in form|error("personal_data.bsn") %}<span class="error">{{ error }}</span>{% endfor %}
  </div>
  <p class="form-field form-field-md {% if form.data.personal_data.date_of_birth.is_empty() && should_warn %}warning{% endif %}">
    <label for="date_of_birth">{{ "person.fields.date_of_birth"|trans }}</label>
    <input type="text"
           placeholder=" "
           name="date_of_birth"
           id="date_of_birth"
           value="{{ form.data.personal_data.date_of_birth }}"
           placeholder="dd-mm-jjjj"
           inputmode="numeric" />
    {% for error in form|error("personal_data.date_of_birth") %}<span class="error">{{ error }}</span>{% endfor %}
  </p>
</div>
<div class="form-row">
  <p class="form-field">
    <label for="gender">
      {{ "person.fields.gender"|trans }}
      <span class="hint">({{ "person.hints.optional"|trans }})</span>
    </label>
    <select name="gender" id="gender">
      <option value=""
              {% if form.data.personal_data.gender=="" %}selected{% endif %}>{{ "common.gender.empty"|trans }}</option>
      <option value="male"
              {% if form.data.personal_data.gender=="male" %}selected{% endif %}>
        {{ "common.gender.male"|trans }}
      </option>
      <option value="female"
              {% if form.data.personal_data.gender=="female" %}selected{% endif %}>
        {{ "common.gender.female"|trans }}
      </option>
    </select>
    {% for error in form|error("personal_data.gender") %}
      <span class="error">{{ error }}</span>
    {% else %}
      <span class="hint">{{ "person.hints.gender"|trans }}</span>
    {% endfor %}
  </p>
</div>
