{% extends "pg/common/components/overlay.html" %}
{% block overlay_title %}{{ "candidate_list.add_candidate"|trans }}{% endblock %}
{% block overlay_content %}
  <div class="form overlay-content">
    {% if persons.is_empty() %}
      <p>{{ "person.view.empty"|trans }}</p>
    {% else %}
      <p class="form-field form-field-full">
        <label for="search">{{ "candidate_list.search_existing_person"|trans }}</label>
        <input type="text"
               name="search"
               placeholder="{{ "candidate_list.search_placeholder"|trans }}"
               class="form-control w-full"
               id="search" />
      </p>
      <input type="hidden"
             name="added_position"
             value="{{ form.data.added_position }}" />
      {% if show_add_all %}
        <p class="mt-md">
          <button type="submit"
                  class="button secondary float-right icon-plus"
                  name="action"
                  value="add-all">{{ "candidate_list.add_all"|trans }}</button>
        </p>
      {% elif show_remove_all %}
        <p class="mt-md">
          <button type="submit"
                  class="button secondary float-right icon-trash"
                  name="action"
                  value="remove-all">{{ "candidate_list.remove_all_added_candidates"|trans }}</button>
        </p>
      {% endif %}
      {% include "pg/candidates/components/add_table.html" %}
    {% endif %}
  </div>
{% endblock %}
{% block overlay_footer %}
  <footer>
    <a href="{{ overlay.close_url(close_action) }}" class="button lg">{{ "action.done"|trans }}</a>
  </footer>
{% endblock %}
