{% extends "pg/common/components/overlay.html" %}
{% block overlay_title %}
  <span class="badge position-badge">{{ candidate.position }}</span>
  {{ candidate.person.name.display() }}
{% endblock %}
{% set close_action = full_list.list.highlight_path(*candidate.person.id) %}
{% block overlay_steps %}
  {% include "pg/candidates/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  {% include "pg/candidates/components/position_form.html" %}
{% endblock %}
{% block overlay_actions %}
  {% set submit_label = "action.next"|trans %}
  {% include "pg/common/components/submit.html" %}
{% endblock %}
