{% extends "layout.html" %}

{% block page_title %}
{{ "common.general_information"|trans }}
{% endblock %}

{% block header_action %}
<a href="/" class="button secondary">
  {{ "action.back"|trans }}
</a>
{% endblock %}

{% block content %}
<div class="steps">
  {% include "political_groups/components/steps.html" %}
  <div>
    <h2>{{ "political_group.authorised_agent_data"|trans }}</h2>

    <div class="alert alert-info">
      {{ "political_group.authorised_agent_info"|trans }}
    </div>

    {% if authorised_agents.is_empty() %}
      <p>{{ "political_group.no_authorised_agents"|trans }}</p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>{{ "person.fields.initials"|trans }}</th>
            <th>{{ "person.fields.last_name"|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for agent in authorised_agents %}
          <tr class="clickable">
            <td>{{ agent.name.initials }}</td>
            <td>{{ agent.name.last_name_with_prefix() }}</td>
            <td>
              <a href="{{ agent.update_path() }}">
                <span>{{ "action.edit"|trans }}</span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if authorised_agents.len() == 0%}
      <p class="mt-lg">
        <a href="{{ AuthorisedAgent::create_path() }}" class="button secondary icon-plus" type="button">
          {{ "political_group.add_authorised_agent"|trans }}
        </a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
