{% include "pg/common/components/name_fields.html" %}
{% let election = "election"|election_value %}
<div class="form-row">
  <div class="form-field form-field-md {% if form.data.personal_data.country.is_empty() && should_warn %}warning{% endif %}">
    <label for="country">{{ "person.fields.country"|trans }}</label>
    {% let country_value = form.data.personal_data.country %}
    {% include "pg/common/components/country_input.html" %}
    {% for error in form|error("personal_data.country") %}
      <span class="error">{{ error }}</span>
    {% else %}
      <span class="hint hide-nl">{{ "person.hints.country"|trans }}</span>
    {% endfor %}
  </div>
  <p class="form-field {% if form.data.personal_data.place_of_residence.is_empty() && should_warn %}error{% endif %}">
    <label for="locality">{{ "person.fields.place_of_residence"|trans }}</label>
    <input type="text"
           placeholder=" "
           name="place_of_residence"
           id="locality"
           autocomplete="off"
           value="{{ form.data.personal_data.place_of_residence }}" />
    <span id="locality-suggestion"
          class="suggestion with-municipalities{% if election.frisian_export_allowed() %} frisian-aliases-allowed{% endif %} hidden">
      {{ "person.fields.locality_suggestion"|trans }}
      <button type="button" id="locality-suggestion-name"></button>
    </span>
    <span class="warning {% if locality_unknown|default(false) %} {% else %} hidden {% endif %}"
          id="unknown-locality">{{ "problems.unknown_place_of_residence"|trans }}</span>
    {% for error in form|error("personal_data.place_of_residence") %}<span class="error">{{ error }}</span>{% endfor %}
  </p>
</div>
<div class="form-row">
  <div class="form-field {% if form.data.personal_data.bsn.is_empty() && form.data.personal_data.bsn != crate::structs::common::BSN_NONE_CONFIRMATION && should_warn %}warning{% endif %}">
    <label for="bsn">{{ "person.fields.bsn"|trans }}</label>
    <input type="text"
           placeholder=" "
           name="bsn"
           id="bsn"
           value="{% if form.data.personal_data.bsn != crate::structs::common::BSN_NONE_CONFIRMATION %}{{ form.data.personal_data.bsn }}{% endif %}" />
    {% if (form.data.personal_data.bsn.is_empty() || form.data.personal_data.bsn == crate::structs::common::BSN_NONE_CONFIRMATION) && should_warn %}
      <label for="no_bsn_confirmed" class="no_bsn_confirmed">
        <input type="checkbox"
               name="bsn"
               id="no_bsn_confirmed"
               value="{{ crate::structs::common::BSN_NONE_CONFIRMATION }}"
               {% if form.data.personal_data.bsn == crate::structs::common::BSN_NONE_CONFIRMATION %}checked{% endif %} />
        <span>{{ "person.no_bsn_confirm"|trans }}</span>
      </label>
    {% endif %}
    {% for error in form|error("personal_data.bsn") %}<span class="error">{{ error }}</span>{% endfor %}
  </div>
  <p class="form-field form-field-md {% if form.data.personal_data.date_of_birth.is_empty() && should_warn %} error {% else if (form.data.personal_data.is_date_of_birth_very_old() || form.data.personal_data.is_date_of_birth_too_young(election)) && should_warn %} warning {% endif %}">
    <label for="day_of_birth">{{ "person.fields.date_of_birth"|trans }}</label>
    <span class="date-input-row">
      <span class="date-separate hidden">
        <input type="text"
               class="day"
               name="day_of_birth"
               id="day_of_birth"
               aria-label="{{ "common.date_field.day"|trans }}"
               placeholder="{{ "common.date_field.day_placeholder"|trans }}"
               inputmode="numeric" />
        <span class="dash">-</span>
        <input type="text"
               class="month"
               name="month_of_birth"
               id="month_of_birth"
               aria-label="{{ "common.date_field.month"|trans }}"
               placeholder="{{ "common.date_field.month_placeholder"|trans }}"
               inputmode="numeric" />
        <span class="dash">-</span>
        <input type="text"
               class="year"
               name="year_of_birth"
               id="year_of_birth"
               aria-label="{{ "common.date_field.year"|trans }}"
               placeholder="{{ "common.date_field.year_placeholder"|trans }}"
               inputmode="numeric" />
      </span>
      <input type="text"
             class="date"
             placeholder=" "
             name="date_of_birth"
             id="date_of_birth"
             value="{{ form.data.personal_data.date_of_birth }}"
             placeholder="dd-mm-jjjj"
             aria-label="{{ "person.fields.date_of_birth"|trans }}"
             inputmode="numeric" />
    </span>
    {% for error in form|error("personal_data.date_of_birth") %}<span class="error">{{ error }}</span>{% endfor %}
    {% if form.data.personal_data.is_date_of_birth_too_young(election) && should_warn %}
      <span class="warning">{{ "common.warning_prefix"|trans }}: {{ "problems.candidate_too_young_long"|trans }}</span>
    {% else if form.data.personal_data.is_date_of_birth_very_old() && should_warn %}
      <span class="warning">{{ "common.warning_prefix"|trans }}: {{ "problems.very_old_date_of_birth"|trans(&crate::structs::common::DateOfBirth::WARN_AGE.to_string() ) }}</span>
    {% endif %}
  </p>
</div>
<div class="form-row">
  <p class="form-field">
    <label for="gender">
      {{ "person.fields.gender"|trans }}
      <span class="hint">({{ "person.hints.optional"|trans }})</span>
    </label>
    <select name="gender" id="gender">
      <option value=""
              {% if form.data.personal_data.gender=="" %}selected{% endif %}>{{ "common.gender.empty"|trans }}</option>
      <option value="male"
              {% if form.data.personal_data.gender=="male" %}selected{% endif %}>
        {{ "common.gender.male"|trans }}
      </option>
      <option value="female"
              {% if form.data.personal_data.gender=="female" %}selected{% endif %}>
        {{ "common.gender.female"|trans }}
      </option>
    </select>
    {% for error in form|error("personal_data.gender") %}
      <span class="error">{{ error }}</span>
    {% else %}
      <span class="hint">{{ "person.hints.gender"|trans }}</span>
    {% endfor %}
  </p>
</div>
