{% extends "common/components/overlay.html" %}
{% import "common/components/macros.html" as macros %}
{% block overlay_title %}
  <span class="position-badge">{{ candidate.position }}</span>
  {{ candidate.person.name.display() }}
{% endblock %}
{% set close_action = full_list.list.highlight_path(*candidate.person.id) %}
{% block overlay_steps %}
  {% include "candidates/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  <fieldset>
    <legend>
      <h3>{{ "person.actions.delete"|trans }}</h3>
    </legend>
    {% decl delete_warning -%}
    {% if on_candidate_lists > 0 -%}
      {% let delete_warning = "candidate_list.candidate.delete_warning_text"|trans(&on_candidate_lists.to_string()) -%}
    {% else -%}
      {% let delete_warning = "person.form.delete_warning_text"|trans -%}
    {% endif -%}
    <p>{{ delete_warning }}</p>
    <input type="hidden" name="position" value="{{ candidate.position }}">
  </fieldset>
{% endblock %}
{% block overlay_actions %}
  <div class="form-actions-stack mt-xl">
    <div class="form-actions">
      <button type="submit"
              class="button tertiary-destructive icon-trash"
              formaction="{{ candidate.update_position_path() }}"
              name="action"
              value="remove">{{ "candidate_list.remove_candidate"|trans }}</button>
    </div>
    <div class="form-actions">
      <button type="submit" class="button tertiary-destructive icon-trash">{{ "person.actions.delete"|trans }}</button>
    </div>
  </div>
{% endblock %}
