{% extends "csb/components/layout.html" %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::recovery::CsbRecoveryOverviewPath, "csb.recovery.title") }}
{% endblock %}
{% block page_title %}
  {{ "csb.recovery.title"|trans }}
{% endblock %}
{% block page_sub_title %}
  <span class="subtitle">{{ "csb.recovery.explanation"|trans }}</span>
{% endblock %}
{% block content %}
  <div class="examination-main card card-plain">
    {% if political_groups.is_empty() %}
      <p class="font-italic">{{ "csb.no_political_groups_added"|trans }}</p>
    {% else %}
      <table class="political-group-recovery-table mb-xl mt-md">
        <thead>
          <tr>
            <th>{{ "common.political_group"|trans }}</th>
            <th>{{ "csb.status.name"|trans }}</th>
            <th>{{ "csb.progress"|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for pg in political_groups %}
            <tr class="clickable">
              <td>{{ pg.csb_appellation() }}</td>
              <td>
                {% if pg.omission_count == 0 %}
                  <div class="status approved">{{ "csb.recovery.no_omissions"|trans }}</div>
                {% else if pg.pending_omission_count > 0 %}
                  <div class="status in-progress">{{ "csb.status.in_progress"|trans }}</div>
                {% else %}
                  <div class="status approved">{{ "csb.recovery.assessed"|trans }}</div>
                {% endif %}
              </td>
              <td>
                {% if pg.actionable_omission_count > 0 %}
                  {{ "csb.recovery.assessed_count"|trans(&pg.decided_omission_count().to_string() , &pg.actionable_omission_count.to_string() ) }}
                {% endif %}
              </td>
              <td>
                <a href="{{ pg.group_path() }}"
                   title="{{ "csb.recovery.assess"|trans }}"></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
