{% extends "pg/common/components/overlay.html" %}
{% set close_action = ListSubmitter::view_path() %}
{% block overlay_title %}{{ "political_group.edit_list_submitter"|trans }}{% endblock %}
{% block overlay_steps %}<div class="steps-nav"></div>{% endblock %}
{% block overlay_form %}
  <fieldset>
    {% include "pg/common/components/name_fields.html" %}
    {% set show_list_submitter_address_info = true %}
    {% include "pg/list_submitters/components/address_fields.html" %}
  </fieldset>
{% endblock %}
