{% extends "pg/common/components/layout.html" %}
{% block page_title %}{{ "common.general_information"|trans }}{% endblock %}
{% block header_action %}<a href="/" class="button secondary">{{ "action.back"|trans }}</a>{% endblock %}
{% block content %}
  <div class="steps">
    {% include "pg/political_groups/components/steps.html" %}
    <div>
      <h3 class="mb-6">{{ "political_group.list_submitter_data"|trans }}</h3>
      <p class="mb-6">{{ "political_group.list_submitter_info"|trans }}</p>
      {% if list_submitter.is_empty() %}
        <p class="mt-md font-italic">{{ "political_group.no_list_submitter"|trans }}</p>
        <p class="mt-lg mb-lg">
          <a href="{{ steps.step_url(ListSubmitter::update_path() ) }}"
             class="button secondary icon-plus"
             type="button">{{ "political_group.add_list_submitter"|trans }}</a>
        </p>
      {% else %}
        <a href="{{ steps.step_url(ListSubmitter::update_path() ) }}"
           class="person-block {{ list_submitter.get_problems(*() ).highest_severity_class() }}">
          {{ list_submitter.name.display() }}
          <br />
          {{ list_submitter.address_line_1() }}
          <br />
          {{ list_submitter.address_line_2() }}
        </a>
      {% endif %}
      <h3 class="mb-6">{{ "political_group.substitute_submitters_data"|trans }}</h3>
      <p class="mb-6">{{ "political_group.substitute_submitters_info"|trans }}</p>
      {% if substitute_submitters.is_empty() %}
        <p class="mt-md font-italic">{{ "political_group.no_substitute_submitters"|trans }}</p>
      {% else %}
        <div class="substitute-list-submitters">
          {% for submitter in substitute_submitters %}
            <a href="{{ steps.step_url(submitter.substitute_update_path() ) }}"
               class="person-block {{ submitter.get_problems(*() ).highest_severity_class() }}">
              {{ submitter.name.display() }}
              <br />
              {{ submitter.address_line_1() }}
              <br />
              {{ submitter.address_line_2() }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
      <p class="mt-lg">
        <a href="{{ steps.step_url(ListSubmitter::substitute_create_path() ) }}"
           class="button secondary icon-plus"
           type="button">{{ "political_group.add_substitute_submitter"|trans }}</a>
      </p>
      <p class="mt-xl">
        <a href="/" class="button">{{ "common.continue_to_home"|trans }}</a>
      </p>
    </div>
  </div>
{% endblock %}
