{% include "common/components/address_fields.html" %}
<div class="form-row">
  <div class="form-field">
    <label for="country">{{ "person.fields.country"|trans }}</label>
    {% let country_value = form.data.address.country %}
    {% include "common/components/country_input.html" %}
    <span class="hint"></span>
    {% for error in form|error("address.country") %}<span class="error">{{ error }}</span>{% endfor %}
  </div>
  <div class="form-field">
    <label for="state_or_province">{{ "person.fields.state_or_province"|trans }}</label>
    <input type="text"
           name="state_or_province"
           id="state_or_province"
           value="{{ form.data.address.state_or_province }}" />
    {% for error in form|error("address.state_or_province") %}<span class="error">{{ error }}</span>{% endfor %}
  </div>
</div>
