<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Kiesraad - Kandidaatstelling</title>
  <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NSIgaGVpZ2h0PSI3NSIgdmlld0JveD0iMCAwIDc1IDc1IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMzcuNSAwTDY5Ljk3NiAxOC43NVY1Ni4yNUwzNy41IDc1TDUuMDI0MDUgNTYuMjVWMTguNzVMMzcuNSAwWiIgZmlsbD0iIzExMzA1MSIvPgogIDxwYXRoIGQ9Ik0zNy45MTEzIDM3LjVMNTYuMjQ5NCAyMC4zNjUxTDUwLjIxNTYgMTYuOTM4MUwzMS41MjI1IDMzLjgzNjdIMzAuNDU3N1YyMi4yNTU4VjE3Ljg4MzRMMjYuNzkwMSAxNS43NTYzTDIzLjAwNDIgMTcuODgzNFYxOC40NzQzVjIyLjI1NThWNTkuMjQzN0gzMC40NTc3VjQxLjM5OTdIMzEuNTIyNUw1MC4zMzM5IDU5LjI0MzdMNTYuNzIyNiA1NS41ODA0TDM3LjkxMTMgMzcuNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==" />
  <link rel="stylesheet" href="/static/index.css?{{ filters::cache_buster() }}" />
  {% if Context::livereload_enabled() %}<script src="/livereload/poll.js"></script>{% endif %}
  <script src="/static/index.js?{{ filters::cache_buster() }}" defer></script>
</head>

<body class="{% block body_class %}{% endblock %}">
  {% block body %}{% endblock %}
</body>

</html>
