{% extends "layout.html" %}
{% block page_title %}
  {% if let Ok(election) = "election"|value::<ElectionConfig> %}{{ election.title() }}{% endif %}
{% endblock %}
{% block content %}
  <h2 class="hidden">{{ "common.steps"|trans }}</h2>
  <div class="cards cards-home">
    <a href="{{ crate::political_groups::PoliticalGroup::update_path() }}"
       class="card card-data">
      <div class="badge"></div>
      <h3>{{ "common.step"|trans("1") }}</h3>
      <h4>{{ "common.general_information"|trans }}</h4>
      <ul class="instruction">
        <li>{{ "common.general_information_description.basic"|trans }}</li>
        <li>{{ "common.general_information_description.submitter"|trans }}</li>
      </ul>
      <p>{{ "action.manage_data"|trans }}</p>
    </a>
    <a href="{{ crate::candidate_lists::CandidateList::list_path() }}"
       class="card card-candidate-list">
      <div class="badge"></div>
      <h3>{{ "common.step"|trans("2") }}</h3>
      <h4>{{ "candidate_list.title"|trans }}</h4>
      <ul class="instruction">
        <li>{{ "candidate_list.candidate_list_description.add_candidate"|trans }}</li>
        <li>{{ "candidate_list.candidate_list_description.add_candidate_list"|trans }}</li>
      </ul>
      <p>{{ "action.manage_candidate_lists"|trans }}</p>
    </a>
    <a href="{{ crate::submit::SubmitPath{}.to_string() }}"
       class="card card-locked">
      <div class="badge"></div>
      <h3>{{ "common.step"|trans("3") }}</h3>
      <h4>{{ "common.submit"|trans }}</h4>
      <ul class="instruction">
        <li>{{ "common.submit_description.download_documents"|trans }}</li>
        <li>{{ "common.submit_description.view_follow_up_steps"|trans }}</li>
        <li>{{ "common.submit_description.submit"|trans }}</li>
      </ul>
      <div class="alert alert-info">
        <span class="instruction">{{ "common.submit_instruction"|trans }}:</span>
        <p class="font-bold mt-md">
          {% if let Ok(election) = "election"|value::<ElectionConfig> %}
            {{ election.nomination_day_date().format("%d-%m-%Y") }}
          {% endif %}
        </p>
      </div>
      <p>{{ "action.review_and_submit"|trans }}</p>
    </a>
  </div>
{% endblock %}
