{% extends "components/overlay.html" %}

{% set close_action = ListSubmitter::list_path() %}

{% block overlay_title %}{{ "political_group.add_list_submitter"|trans }}{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    <div class="steps-nav">
      <ul>
        <li>
          <a href="{{ ListSubmitter::create_path() }}">
            {{ "political_group.add_list_submitter"|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="form">
      <fieldset>
        {% include "components/person_name_fields.html" %}
        {% include "components/address_fields.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
