{% extends "common/components/layout.html" %}
{% block page_title %}{{ "common.submit"|trans }}{% endblock %}
{% block overview_nav_class %}active{% endblock %}
{% block content %}
  {% let max_candidates = "max_candidates"|integer_value %}
  {% let election = "election"|election_value %}
  <section>
    <div class="cards cards-candidate-lists">
      {% for candidate_list in candidate_lists %}
        <div class="{% if candidate_list.duplicate_districts.is_empty() %}card card-candidate-list{% else %}card card-list-warning{% endif %}">
          <div class="badge"></div>
          <h3>{{ "candidate_list.title_single"|trans }}</h3>
          <p class="statistic">
            {{ "candidate_list.candidate_count"|trans(&candidate_list.person_count.to_string() , &max_candidates.to_string())|safe }}
          </p>
          <h5>{{ "common.electoral_districts"|trans }}:</h5>
          {% if candidate_list.list.electoral_districts.len() == election.electoral_districts().len() && candidate_list.duplicate_districts.is_empty() %}
            <p>{{ "candidate_list.districts.all"|trans }}</p>
          {% else %}
            <ul class="districts">
              {% for district in candidate_list.list.electoral_districts %}
                <li {% if candidate_list.duplicate_districts.contains(district) %}class="warning"{% endif %}>
                  <span>{{ district|district_name }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <div class="card-actions">
            {% if candidate_list.can_download %}
              <a href="{{ candidate_list.download_h1_path_nl }}"
                 class="button secondary icon-print">{{ "action.download_h1"|trans }} ({{ "common.languages.dutch"|trans }})</a>
              <a href="{{ candidate_list.download_h1_path_fry }}"
                 class="button secondary icon-print">{{ "action.download_h1"|trans }} ({{ "common.languages.frisian"|trans }})</a>
              <a href="{{ candidate_list.download_h9_path_nl }}"
                 class="button secondary icon-print">{{ "action.download_h9"|trans }} ({{ "common.languages.dutch"|trans }})</a>
              <a href="{{ candidate_list.download_h9_path_fry }}"
                 class="button secondary icon-print">{{ "action.download_h9"|trans }} ({{ "common.languages.frisian"|trans }})</a>
            {% else %}
              <a class="button secondary icon-print disabled"
                 disabled
                 aria-disabled="true">{{ "action.download_h1"|trans }} ({{ "common.languages.dutch"|trans }})</a>
              <a class="button secondary icon-print disabled"
                 disabled
                 aria-disabled="true">{{ "action.download_h1"|trans }} ({{ "common.languages.frisian"|trans }})</a>
              <a class="button secondary icon-print disabled"
                 disabled
                 aria-disabled="true">{{ "action.download_h9"|trans }} ({{ "common.languages.dutch"|trans }})</a>
              <a class="button secondary icon-print disabled"
                 disabled
                 aria-disabled="true">{{ "action.download_h9"|trans }} ({{ "common.languages.frisian"|trans }})</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
