{% extends "common/components/layout.html" %}
{% block page_title %}{{ "common.submit"|trans }}{% endblock %}
{% block overview_nav_class %}active{% endblock %}
{% block content %}
  {% let max_candidates = "max_candidates"|integer_value %}
  {% let election = "election"|election_value %}
  <div class="finalize">
    <div class="finalize-header">
      <h3>{{ "submit.header.title"|trans }}</h3>
      <p>{{ "submit.header.description"|trans }}</p>
    </div>
    <div class="step warning illustration-errors">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.complete_list.title"|trans }}</h2>
        </div>
        <div class="step-content">
          <section class="card">
            <h2 class="mb-sm">{{ "common.general_information"|trans }}</h2>
            {% if problems.general.flatten().is_empty() %}
              <p class="mb-xl">{{ "problems.no_problems"|trans }}</p>
            {% else %}
              <div class="mb-md">
                <ul class="warnings tags-list">
                  {% for problem in problems.general.general %}
                    <li class="tag link">
                      <a class="{{ problem.severity().class() }}"
                         href="{{ problem.general_fix_path() }}">{{ problem.translate(locale) }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% for agent_pp in problems.general.name_authorisations %}
                <div class="mb-md">
                  <div class="mb-sm">{{ agent_pp.entity.name.display() }} ({{ "political_group.authorised_agent"|trans }}):</div>
                  <ul class="warnings tags-list">
                    {% for problem in &agent_pp.problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ agent_pp.entity.update_path() }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
              {% if problems.general.list_submitter.is_some() %}
                <div class="mb-md">
                  <div class="mb-sm">
                    {{ problems.general.list_submitter.as_ref().unwrap().entity.name.display() }} ({{ "political_group.list_submitter"|trans }}):
                  </div>
                  <ul class="warnings tags-list">
                    {% for problem in problems.general.list_submitter.as_ref().unwrap().problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ ListSubmitter::update_path_from(SubmitPath {}) }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% for ss_pp in problems.general.substitute_submitters %}
                <div class="mb-md">
                  <div class="mb-sm">{{ ss_pp.entity.name.display() }} ({{ "political_group.substitute_submitter"|trans }}):</div>
                  <ul class="warnings tags-list">
                    {% for problem in &ss_pp.problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ ss_pp.entity.substitute_update_path_from(SubmitPath {}) }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            {% endif %}
            <h2 class="mt-md mb-sm">{{ "common.candidates"|trans }}</h2>
            {% if problems.candidates.is_empty() %}
              <p class="mb-xl">{{ "problems.no_problems"|trans }}</p>
            {% else %}
              {% for candidate_pp in &problems.candidates %}
                <div class="mb-md">
                  <div class="mb-sm">{{ candidate_pp.entity.name.display() }}:</div>
                  <ul class="warnings tags-list">
                    {% for problem in &candidate_pp.problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ problem.person_fix_path(&candidate_pp.entity) }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            {% endif %}
            <h2 class="mt-md mb-sm">{{ "candidate_list.title_plural"|trans }}</h2>
            {% if problems.lists.is_empty() %}
              <p class="mb-xl">{{ "problems.no_problems"|trans }}</p>
            {% else %}
              <div class="mb-md">
                <ul class="warnings tags-list">
                  {% for list_problems in &problems.lists %}
                    {% for problem in &list_problems.problems %}
                      <li class="tag link">
                        <a class="{{ problem.severity().class() }}"
                           href="{{ problem.candidate_list_fix_path(&list_problems.entity) }}">{{ problem.translate(locale) }}</a>
                      </li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if !problems.info_problems.is_empty() %}
              <section class="card">
                <ul class="warnings tags-list">
                  {% for problem in problems.info_problems %}
                    <li class="tag">
                      <a class="{{ problem.severity().class() }}"
                         href="{{ problem.fix_path() }}">{{ problem.translate(locale) }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </section>
            {% endif %}
          </section>
        </div>
      </div>
    </div>
    <div class="step illustration-printing">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.print.title"|trans }}</h2>
        </div>
        <div class="step-content">
          <section>
            <div class="alert alert-warning">{{ "submit.print.incomplete_warning"|trans }}</div>
            <div class="step-grid">
              <div>
                <h5>{{ "submit.print.h1_title"|trans }}</h5>
                <p>{{ "submit.print.h1_description"|trans }}</p>
              </div>
              <div>
                <h5>{{ "submit.print.h9_title"|trans }}</h5>
                <p>
                  {{ "submit.print.h9_consent"|trans }}
                  <br />
                  {{ "submit.print.h9_identity"|trans }}
                </p>
              </div>
              <div>
                <h5>{{ "submit.print.h3_title"|trans }}</h5>
                <p>{{ "submit.print.h3_description"|trans }}</p>
              </div>
            </div>
            <div class="card">
              <div class="step-downloads">
                <div class="step-download">
                  {% if frisian_export_allowed %}
                    <div>{{ "common.languages.dutch"|trans }}:</div>
                  {% endif %}
                  {% if problems.models_downloadable() %}
                    <a href="{{ download_path_nl }}" class="button primary icon-download">{{ "action.all_in_one_zip"|trans
                    }}</a>
                  {% else %}
                    <a class="button primary icon-download disabled"
                       disabled
                       aria-disabled="true">{{
                      "action.all_in_one_zip"|trans
                    }}</a>
                  {% endif %}
                </div>
                <div class="step-download">
                  {% if frisian_export_allowed %}
                    <div>{{ "common.languages.frisian"|trans }}:</div>
                    {% if problems.models_downloadable() %}
                      <a href="{{ download_path_fry }}" class="button primary icon-download">Alles yn ien zip</a>
                    {% else %}
                      <a class="button primary icon-download disabled"
                         disabled
                         aria-disabled="true">Alles yn ien zip</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="finalize-header">
      <h3>{{ "submit.follow_up_steps.title"|trans }}</h3>
      <p>{{ "submit.follow_up_steps.description"|trans }}</p>
    </div>
    <div class="step illustration-collection">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.collection.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p>{{ "submit.collection.gather_h9"|trans }}</p>
          <p>{{ "submit.collection.pre_submission"|trans }}</p>
        </div>
      </div>
    </div>
    <div class="step illustration-delivery">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.delivery.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">{{ "submit.delivery.only_on"|trans("02-03-2028") |safe }}</p>
          <p>{{ "submit.delivery.description"|trans }}</p>
          <p>{{ "submit.delivery.appointment"|trans }}</p>
          <p>
            Zurichtoren
            <br />
            Muzenstraat 85
            <br />
            2511 WB Den Haag
          </p>
        </div>
      </div>
    </div>
    <div class="step illustration-verification">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.verification.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">{{ "submit.verification.until"|trans("04-03-2028") |safe }}</p>
          <p>{{ "submit.verification.description"|trans }}</p>
          <p>{{ "submit.verification.correction_notice"|trans }}</p>
        </div>
      </div>
    </div>
    <div class="step illustration-correction">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.correction.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">{{ "submit.correction.notice_date"|trans("05-03-2028") |safe }}</p>
          <p>{{ "submit.correction.description"|trans }}</p>
          <p>{{ "submit.correction.deadline"|trans("07-03-2028") |safe }}</p>
        </div>
      </div>
    </div>
    <div class="step illustration-hearing">
      <div class="step-main">
        <div class="step-header">
          <h2>{{ "submit.hearing.title"|trans }}</h2>
        </div>
        <div class="step-content less-wide">
          <p class="alert alert-info">{{ "submit.hearing.date"|trans("09-03-2028") |safe }}</p>
          <p>{{ "submit.hearing.description"|trans }}</p>
          <p>{{ "submit.hearing.open_to_public"|trans }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
