{% extends "pg/common/components/base.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% block head_extra %}
  <meta name="csrf-token" content="{{ "csrf_token"|str_value }}">
{% endblock %}
{% block body %}
  {% if "paper_correction_mode"|value_true %}
    {% let paper_corrections_group_name = "paper_corrections_group_name"|str_value %}
    <div class="paper-corrections-banner">
      <div class="alert alert-warning">
        <div>{{ "csb.paper_corrections.banner"|trans(&paper_corrections_group_name) }}</div>
        <form method="post" action="{{ "paper_corrections_exit_path"|str_value }}">
          {{ macros::csrf_field() }}
          <button type="submit" class="button sm secondary">{{ "csb.paper_corrections.stop"|trans }}</button>
        </form>
      </div>
    </div>
  {% endif %}
  <header>
    <nav>
      <div>
        <ul>
          <li>
            <a href="/" class="home" aria-label="{{ "common.home"|trans }}">
              <span>{{ "common.home"|trans }}</span>
            </a>
          </li>
          <li>
            <a href="{{ "general_information_path"|str_value }}">{{ "common.general_information"|trans }}</a>
          </li>
          <li>
            <a href="{{ crate::structs::candidate_lists::CandidateList::list_path() }}">
              {% if "multiple_candidate_lists"|value_true %}
                {{ "candidate_list.title_plural"|trans }}
              {% else %}
                {{ "candidate_list.title_single"|trans }}
              {% endif %}
            </a>
          </li>
          {% if !("paper_correction_mode"|value_true) %}
            <li>
              <a href="{{ crate::finalise::FinalisePath{}.to_string() }}">{{ "common.finalise"|trans }}</a>
            </li>
          {% endif %}
        </ul>
        <ul>
          <li>
            <a href="{{ crate::audit_log::AuditLogPath{}.to_string() }}">{{ "audit_log.title"|trans }}</a>
          </li>
          {% include "pg/common/components/logout_nav_item.html" %}
          {% let locale = "locale"|locale_value %}
          <li>
            <form action="{{ crate::common::SwitchLanguagePath{}.to_string() }}"
                  method="post"
                  class="language-switch">
              {{ macros::csrf_field() }}
              <button class="button sm {% if locale == crate::Locale::Nl %}active{% endif %}"
                      type="submit"
                      name="lang"
                      value="nl">NL</button>
              <button class="button sm {% if locale == crate::Locale::En %}active{% endif %}"
                      type="submit"
                      name="lang"
                      value="en">EN</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-content">
      <div>
        <h1>{% block page_title %}{{ "common.title"|trans }}{% endblock %}</h1>
        {% block page_sub_title %}{% endblock %}
      </div>
      {% block header_action %}{% endblock %}
    </div>
  </header>
  <main class="{% block main_class %}{% endblock %}">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    {% let election = "election"|election_value %}
    <span>{{ "common.title"|trans }} {{ election.code() }} {{ election.region_title().unwrap_or_default() }}</span>
    <span>
      {{ "common.version"|trans }} <strong>{{ env!("CARGO_PKG_VERSION") }}</strong>
      {% if let Some(server) = "server_name"|optional_str_value %}· <strong>{{ server }}</strong>{% endif %}
    </span>
  </footer>
  {% if "show_download_warning"|value_true %}
    <div class="download-warning-banner">
      <div class="alert alert-warning alert-floating">
        <div>{{ "common.download_warning"|trans }}</div>
        <form method="post"
              action="{{ crate::common::HideDownloadWarningPath{}.to_string() }}">
          {{ macros::csrf_field() }}
          <button type="submit"
                  class="close-overlay"
                  aria-label="{{ "action.close"|trans }}">
            <span>{{ "action.close"|trans }}</span>
          </button>
        </form>
      </div>
    </div>
  {% endif %}
  {% block overlay %}{% endblock %}
  {% if "show_success_alert"|value_true %}
    <div class="alert alert-success alert-floating">{{ "common.save_success"|trans }}</div>
  {% endif %}
{% endblock %}
