<div class="form-row">
  <p class="form-field form-field-sm {% if form.data.name.initials.is_empty() && should_warn|default(false) %}warning{% endif %}">
    <label for="initials">{{ "person.fields.initials"|trans }}</label>
    <input type="text"
           name="initials"
           id="initials"
           value="{{ form.data.name.initials }}"
           class="initials-input"
           required />
    <label class="autoformat">
      <input type="checkbox" checked  tabindex="-1" />
      <span>{{ "person.autoformat_initials"|trans }}</span>
    </label>
    {% for error in form|error("name.initials") %}<span class="error">{{ error }}</span>{% endfor %}
  </p>
  {% if let Some(first_name_val) = form.data.name.first_name_opt() %}
    <p class="form-field">
      <label for="first_name">
        {{ "person.fields.first_name"|trans }}
        <span class="hint">({{ "person.hints.optional"|trans }})</span>
      </label>
      <input type="text"
             name="first_name"
             id="first_name"
             value="{{ first_name_val }}" />
      {% for error in form|error("name.first_name") %}
        <span class="error">{{ error }}</span>
      {% else %}
        <span class="hint">{{ "person.hints.first_name"|trans }}</span>
      {% endfor %}
    </p>
  {% endif %}
</div>
<div class="form-row">
  <p class="form-field form-field-sm">
    <label for="last_name_prefix">{{ "person.fields.last_name_prefix"|trans }}</label>
    <input type="text"
           name="last_name_prefix"
           id="last_name_prefix"
           value="{{ form.data.name.last_name_prefix }}" />
    {% for error in form|error("name.last_name_prefix") %}<span class="error">{{ error }}</span>{% endfor %}
  </p>
  <div class="form-field {% if form.data.name.last_name.is_empty() && should_warn|default(false) %}warning{% endif %}">
    <label for="last_name">{{ "person.fields.last_name"|trans }}</label>
    <input type="text"
           name="last_name"
           id="last_name"
           value="{{ form.data.name.last_name }}"
           required />
    {% for error in form|error("name.last_name") %}
      <span class="error">{{ error }}</span>
    {% else %}
      {% if show_last_name_info|default(false) %}
        <details class="hint" tabindex="-1">
          <summary>{{ "action.information"|trans }}</summary>
          <div class="hint-popover">
            {# sonar Web:S5247: static string translation which is trusted #}
            {{ "person.fields.last_name_info"|trans|safe }}
          </div>
        </details>
      {% endif %}
    {% endfor %}
  </div>
</div>
