<nav aria-label="Pagination" class="pagination">
  {% if pagination.has_prev %}
    <a href="{{ pagination.prev() }}{{ suffix }}"
       rel="prev"
       class="button secondary">&lt;</a>
  {% else %}
    <span class="button disabled" aria-disabled="true">&lt;</span>
  {% endif %}
  {% for link in pagination.links %}
    {% if let Some(number) = link.number %}
      {% if link.current %}
        <span class="button disabled" aria-current="page">{{ number }}</span>
      {% else %}
        <a href="{{ pagination.goto(number) }}{{ suffix }}"
           class="button secondary">{{ number }}</a>
      {% endif %}
    {% else %}
      <span aria-hidden="true">...</span>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a href="{{ pagination.next() }}{{ suffix }}"
       rel="next"
       class="button secondary">&gt;</a>
  {% else %}
    <span class="button disabled" aria-disabled="true">&gt;</span>
  {% endif %}
</nav>
