{% extends "candidates/components/overlay.html" %}

{% block overlay_start %}
<form method="post" action="{{ full_list.list.new_candidate_path() }}" class="overlay">
{% endblock %}
{% block overlay_end %}</form>{% endblock %}

{% block overlay_title %}{{ "person.actions.add"|trans }}{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    {% include "candidates/components/create_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ "person.personal_information"|trans }}</h3>
        </legend>
        {% include "persons/components/form.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
