{% extends "components/overlay.html" %}

{% set close_action = full_list.list.view_path() %}

{% block overlay_title %}{{ "person.actions.add"|trans }}{% endblock %}

{% block overlay_steps %}
  {% include "candidates/components/create_steps.html" %}
{% endblock %}

{% block overlay_form %}
<fieldset>
  <legend>
    <h3>{{ "person.personal_information"|trans }}</h3>
  </legend>
  {% let should_warn = false %}
  {% include "persons/components/form.html" %}
</fieldset>
{% endblock %}

{% block overlay_actions %}
  <button type="submit" class="button lg dirty-check" name="action" value="save">
    {{ "action.next"|trans }}
  </button>
{% endblock %}
