{% extends "components/overlay.html" %}

{% set close_action = full_list.list.view_path() %}

{% block overlay_title %}{{ "person.actions.add"|trans }}{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    {% include "candidates/components/create_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ "person.personal_information"|trans }}</h3>
        </legend>
        {% let should_warn = false %}
        {% include "persons/components/form.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
