{% extends "components/overlay.html" %}

{% block overlay_title %}
  <span class="position-badge">{{ candidate.position }}</span>
  {{ candidate.person.display_name() }}
{% endblock %}

{% set close_action = full_list.list.view_path() %}

{% block overlay_steps %}
  {% include "candidates/components/update_steps.html" %}
{% endblock %}

{% block overlay_form%}
  <fieldset>
    <legend>
      <h3>{{ "person.correspondence_address"|trans }}</h3>
    </legend>
    {% include "components/address_fields.html" %}
  </fieldset>
{% endblock %}

{% block overlay_actions %}
  {% if should_warn %}
    <button type="submit" class="button lg dirty-check" name="action" value="save">
      {{ "action.save"|trans }}
    </button>
  {% else %}
    <button type="submit" class="button lg" name="action" value="add">
      {{ "action.add"|trans }}
    </button>
  {% endif %}
{% endblock %}
