{% extends "candidates/components/overlay.html" %}

{% block overlay_start %}
<form method="post" action="{{ candidate.edit_path() }}" class="overlay">
{% endblock %}

{% block overlay_content %}
  <div class="overlay-content steps">
    {% include "candidates/components/edit_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ "person.personal_information"|trans }}</h3>
        </legend>
        {% include "persons/components/form.html" %}
        <button class="button tertiary-destructive icon-trash open-modal mt-xl" type="button">
          {{ "person.actions.delete"|trans }}
        </button>
      </fieldset>
    </div>
  </div>
{% endblock %}

{% block overlay_end %}
</form>
<dialog class="modal">
  <form method="post" action="{{ candidate.delete_path() }}" class="form">
    <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
    <button class="close-modal" aria-label="{{ "action.close"|trans }}">
      <span>
        {{ "action.close"|trans }}
      </span>
    </button>
    <h3>
      {{ "person.actions.delete"|trans }}
    </h3>
    <p class="mt-lg mb-lg">{{ "person.form.delete_warning_text"|trans }}</p>
    <button type="submit" class="button primary-destructive">
      {{ "action.delete"|trans }}
    </button>
    <button type="submit" class="button secondary close">
      {{ "action.cancel"|trans }}
    </button>
  </form>
</dialog>
{% endblock %}
