{% extends "components/overlay.html" %}

{% block overlay_title %}
  <span class="position-badge">{{ candidate.position }}</span>
  {{ candidate.person.display_name() }}
{% endblock %}

{% set close_action = full_list.list.view_path() %}

{% block overlay_content %}
  <div class="overlay-content steps">
    {% include "candidates/components/update_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ "person.correspondence_address"|trans }}</h3>
        </legend>
        {% include "components/address_fields.html" %}
      </fieldset>
    </div>
  </div>
{% endblock %}
