{% extends "pg/common/components/base.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% block body %}
  {% include "pg/common/components/public_header.html" %}
  <main>
    <div class="container auth-container">
      <h2>{{ "auth.confirm_logout.title"|trans }}</h2>
      <p>{{ "auth.confirm_logout.message"|trans }}</p>
      <form method="post" action="{{ crate::common::LogoutPath }}" class="form">
        {{ macros::csrf_field() }}
        <p>
          <button type="submit" class="button">{{ "auth.confirm_logout.submit"|trans }}</button>
          <a href="/" class="button secondary">{{ "auth.confirm_logout.cancel"|trans }}</a>
        </p>
      </form>
    </div>
  </main>
  {% include "pg/common/components/session_expiry.html" %}
{% endblock %}
