{% extends "layout.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" class="overlay">
  {% if form is defined %}
  <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}" />
  {% endif %}
  <header>
    <h2>
      {% block overlay_title %}{% endblock %}
    </h2>
    <a href="{{ close_action|default("/") }}" class="close-overlay" aria-label="{{ "action.close"|trans }}">
      <span>{{ "action.close"|trans }}</span>
    </a>
  </header>
  {% block overlay_content %}{% endblock %}
  {% block overlay_footer %}
    <footer>
      <a href="{{ close_action|default("/") }}" class="button secondary lg icon-close mr-md">
        {{ "action.close"|trans }}
      </a>
      <button type="submit" class="button dirty-check lg" name="action" value="save">
        {{ "action.save"|trans }}
      </button>
    </footer>
  {% endblock %}
</form>
{% block overlay_end %}{% endblock %}
{% endblock %}
