<div class="steps-nav">
  <ul>
    <li>
      <a href="{{ candidate.edit_path() }}">
        {{ "person.personal_details"|trans }}
      </a>
    </li>
    <li>
      <a href="{{ candidate.edit_address_path() }}">
        {{ "person.correspondence_address"|trans }}
      </a>
    </li>
    {% if !candidate.person.is_dutch() %}
    <li>
      <a href="#">
        {{ "person.authorized_person"|trans }}
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ candidate.edit_position_path() }}">
        {{ "candidate_list.edit_position"|trans }}
      </a>
    </li>
  </ul>
</div>
