{% extends "csb/components/layout.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% block breadcrumbs %}
  {{ breadcrumb(crate::csb::examination::CsbExaminationOverviewPath, "csb.examination") }}
  {{ breadcrumb(crate::csb::import::CsbImportPath, "csb.form.import_political_group") }}
{% endblock %}
{% block page_title %}{{ "csb.form.import_political_group"|trans }}{% endblock %}
{% block header_action %}
  <a href="{{ CsbExaminationOverviewPath }}" class="button secondary">{{ "action.back"|trans }}</a>
{% endblock %}
{% block content %}
  {% set import_action = CsbImportPath{}.to_string() %}
  {% include "csb/components/import_hash_form.html" %}
  <form action="{{ crate::csb::import::CsbCreateEmptyPath{}.to_string() }}"
        method="post"
        class="form mt-xl">
    {{ macros::csrf_field() }}
    <fieldset>
      <p class="text-balance w-32">{{ "csb.form.create_empty_explanation"|trans }}</p>
      <div class="form-actions">
        <button type="submit" class="button secondary lg">{{ "csb.form.create_empty"|trans }}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
