{% extends "components/layout.html" %}
{% block page_title %}Centraal stembureau{% endblock %}
{% block content %}
  <h2>Politieke groeperingen:</h2>
  <ul>
    {% for pg in political_groups %}
      <li>{{ pg.display_name.as_deref().unwrap_or(&"?".to_string()) }}</li>
    {% endfor %}
  </ul>
  <form action="{{ CsbImportPath{}.to_string() }}" method="post" class="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <fieldset>
      <div class="form-field form-field-lg">
        <label for="hash">{{ "csb.form.hash"|trans }}</label>
        <input id="hash" type="text" name="hash" required />
      </div>
      <div class="form-actions">
        <button type="submit" class="button lg" name="action" value="save">
          {{ "csb.form.import"|trans }}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
