.badge {
  background-color: var(--badge-bg, var(--blue-200));
  border-radius: var(--rounded-xs);
  color: var(--badge-color, var(--blue-900));
  display: inline-block;
  font-family: var(--font-header);
  font-family: var(--font-header);
  font-size: var(--badge-font-size, var(--font-size-xl));
  font-weight: 600;
  height: var(--badge-size);
  line-height: var(--badge-size);
  position: relative;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  width: var(--badge-size);

  &:not(.badge-position)::after {
    content: "";
    position: absolute;
    inset: 0;
    mask-image: var(--badge-icon, none);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--badge-color, var(--gray-800));
  }
}
