.badge {
  background-color: var(--badge-bg, var(--blue-200));
  border-radius: var(--rounded-xs);
  color: var(--badge-color, var(--blue-900));
  display: inline-block;
  filter: brightness(var(--badge-brightness, 100%));
  font-family: var(--font-header);
  font-size: var(--badge-font-size, var(--font-size-xl));
  font-weight: 600;
  height: var(--badge-size);
  line-height: var(--badge-size);
  width: var(--badge-size);
  flex-shrink: 0;
  position: relative;
  text-align: center;
  transition-duration: 300ms;
  transition-property: filter, background-color;
  transition-timing-function: ease-in-out;

  &:is(.badge-candidates-list) {
    --badge-icon: url("../icons/badge-candidates-list.svg");
  }

  &:is(.badge-candidates) {
    --badge-icon: url("../icons/badge-candidates.svg");
  }

  &:is(.badge-data) {
    --badge-icon: url("../icons/badge-data.svg");
  }

  &:is(.badge-politician) {
    --badge-icon: url("../icons/badge-politician.svg");
  }

  &:is(.badge-finalise) {
    --badge-icon: url("../icons/badge-finalise.svg");
  }

  &:is(.badge-omission) {
    --badge-icon: url("../icons/omission.svg");

    &:not(.position-badge)::after {
      mask-size: 1.5em;
    }
  }

  &:is(.locked) {
    --badge-bg: var(--gray-200);
    --badge-icon: url("../icons/badge-locked.svg");
  }

  &:is(.unlocked) {
    --badge-icon: url("../icons/badge-unlocked.svg");
  }

  &:is(.success) {
    --badge-bg: var(--green-200);
    --badge-icon: url("../icons/badge-success.svg");
  }

  &:is(.warning) {
    --badge-bg: var(--orange-200);
    --badge-icon: url("../icons/badge-warning.svg");
  }

  &:is(.error) {
    --badge-bg: var(--red-200);
    --badge-icon: url("../icons/badge-error.svg");
  }

  &:not(.position-badge)::after {
    content: "";
    position: absolute;
    inset: 0;
    mask-image: var(--badge-icon, none);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: var(--badge-color, var(--gray-800));
  }
}
