button.button,
a.button,
label.button,
span.button {
  color: var(--base-white);
  border-radius: var(--rounded-md);
  border: var(--button-border-width) solid var(--button-color-primary);
  background: var(--button-color-primary);
  text-decoration: none;

  font-family: var(--font-text);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  min-height: 3rem;
  padding-block: var(--space-3);
  padding-inline: var(--space-4) var(--space-5);
  width: max-content;

  &:hover {
    background-color: var(--button-color-primary-hover);
    border-color: var(--button-color-primary-hover);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--border-color-focus);
    background-color: var(--button-color-primary-focus);
    box-shadow: 0 0 0 4px var(--shadow-color-focus);
  }

  &:active {
    background-color: var(--button-color-primary-active);
    border-color: var(--button-color-primary-active);
  }

  svg {
    height: 1.25rem;
    fill: currentColor;
  }

  &.primary-destructive {
    border-color: var(--red-600);
    background: var(--red-600);
    color: var(--base-white);
  }

  &.secondary {
    color: var(--text-color-body);
    border-color: var(--gray-400);
    background: var(--button-color-secondary);

    &:hover {
      background-color: var(--button-color-secondary-hover);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      --button-border-width: 2px;
      border-color: var(--border-color-focus);
      background-color: var(--button-color-secondary-focus);
      box-shadow: 0 0 0 4px var(--shadow-color-focus);
    }

    &:active {
      border-color: var(--border-color-default);
      background-color: var(--button-color-secondary-active);
    }
  }

  &.tertiary {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    font-weight: var(--font-weight-medium);
    color: var(--gray-500);

    &:hover {
      background: rgba(16, 48, 81, 0.1);
    }
  }

  &.tertiary-destructive {
    background: transparent;
    color: var(--red-700);
    border-color: var(--red-700);

    &:not(:hover, :active) {
      box-shadow: none;
    }

    &:hover {
      background-color: var(--red-50);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      --button-border-width: 2px;
      border: var(--button-border-width) solid var(--border-color-focus);
      box-shadow: 0 0 0 4px var(--shadow-color-focus);
    }

    &:active {
      border-color: var(--red-100);
      background-color: var(--red-100);
    }
  }

  /* Below variants to be able to override styling */
  &:disabled,
  &.disabled {
    background: var(--button-color-bg-disabled);
    border-color: var(--button-color-bg-disabled);
    color: var(--button-color-disabled);
    cursor: default;
  }

  &:disabled {
    pointer-events: none;
  }

  &.xs {
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    padding: calc(0.5rem - var(--button-border-width))
      calc(0.875rem - var(--button-border-width));
    min-height: 2.5rem;
  }

  &.sm {
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    padding: calc(0.625rem - var(--button-border-width))
      calc(1rem - var(--button-border-width));
  }

  &.lg {
    font-size: var(--font-size-lg);
    line-height: 1.75rem;
    padding: calc(1rem - var(--button-border-width))
      calc(1.75rem - var(--button-border-width));
  }

  &.xl {
    min-width: 13rem;
  }

  &.underlined {
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: var(--interactive-default);
    cursor: pointer;
    padding: 0;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
      box-shadow: 0 0 0 4px var(--shadow-color-focus);
    }
  }

  &.icon-close {
    background-image: url("../icons/cross.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: var(--space-xl);
    background-size: 20px;
  }

  &.icon-plus::before {
    background-color: currentColor;
    content: "";
    height: var(--space-5);
    mask-image: url("../icons/plus.svg");
    mask-size: contain;
    width: var(--space-5);
  }

  &:is(.icon-plus-end, .icon-chevron-end, .icon-trash-end) {
    padding-inline: var(--space-5) var(--space-4);
  }

  &.icon-plus-end::after {
    background-color: currentColor;
    content: "";
    height: var(--space-5);
    mask-image: url("../icons/plus.svg");
    mask-size: contain;
    width: var(--space-5);
  }

  &.icon-trash-end::after {
    background-color: currentColor;
    content: "";
    height: var(--space-5);
    mask-image: url("../icons/trash.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: var(--space-5);
  }

  &.icon-chevron-end::after {
    background-color: currentColor;
    content: "";
    height: var(--space-5);
    mask-image: url("../icons/chevronRight.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    width: var(--space-5);
  }

  &.icon-restoration::before {
    content: "";
    height: var(--space-5);
    background-image: url("../icons/restoration.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    width: var(--space-8);
  }

  &.icon-edit::before {
    background-color: currentColor;
    content: "";
    height: var(--space-5);
    mask-image: url("../icons/edit.svg");
    mask-position: right var(--space-md) center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: var(--space-5);
  }

  &.icon-trash {
    background-image: url("../icons/trash.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: var(--space-xl);
    background-size: 20px;
  }

  &.icon-down {
    background-image: url("../icons/arrowNarrowDown.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: 2.6rem;
    background-size: 18px;
  }

  &.icon-up {
    background-image: url("../icons/arrowNarrowUp.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: 2.6rem;
    background-size: 18px;
  }

  &.icon-file {
    background-image: url("../icons/file.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: 2.6rem;
    background-size: 18px;
  }

  &.icon-download {
    padding-inline-end: var(--space-4);

    &::before {
      content: "";
      mask-image: url("../icons/download.svg");
      mask-size: contain;
      width: var(--space-4);
      height: var(--space-4);
      background-color: currentColor;
    }
  }

  &.icon-upload {
    background-image: url("../icons/upload.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-md) center;
    padding-left: 2.6rem;
    background-size: 18px;
  }

  &.no-text {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}

.read-more {
  .toggle:not(:checked) ~ .content {
    display: none;
  }

  .toggle:checked ~ .open {
    display: none;
  }

  .toggle:not(:checked) ~ .close {
    display: none;
  }

  .more-less {
    cursor: pointer;
    width: fit-content;
    padding-right: 1rem;
    display: block;
    background-image: url("../icons/select.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.7rem;
  }

  .close {
    background-image: url("../icons/deselect.svg");
  }

  .open.center {
    margin: auto;
  }

  .close.center {
    margin: auto;
  }

  &.with-disc ul {
    margin: var(--space-3) 0;
    padding-left: var(--space-5);
    list-style: disc;
  }

  .toggle:not(:checked) ~ .partially-hidden {
    overflow: hidden;
    height: var(--space-6);
    mask-image: linear-gradient(to bottom, black, transparent);
  }
}
