.candidate-lists {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-6);

  .candidates {
    grid-column: span 1;
    position: sticky;
    top: var(--space-6);
    left: 0;
    min-width: 16rem;
  }
  &.disabled {
    opacity: 50%;
    pointer-events: none;
  }

  .cards {
    grid-column: span 3;
  }
}

/* Only warn while a district of another candidate list is actually selected */
.form .district-select {
  span.warning.district-duplicate-warning {
    display: none;
  }

  &:has(.checkbox.warning) span.warning.district-duplicate-warning {
    display: block;
  }
}
