:root {
  --card-border-color: var(--gray-200);
  --card-bg : var(--base-white);
}

.cards {
  display: grid;
  gap: var(--grid-gutter-md);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
}

.cards.cards-home {
  --card-min-height: 26rem;
  --card-min-width: 25.25rem;
}

.card {
  --badge-size: 2.5rem;
  background-color: var(--card-bg);
  border-radius: var(--rounded-lg);
  border: 1px solid var(--card-border-color);
  min-height: var(--card-min-height, auto);
  padding: var(--space-8) var(--space-8) var(--space-7) var(--space-8);

  span:has(.badge) {
    align-items: center;
    display: flex;
    font-size: var(--font-size-xl);
    font-weight: 700;
    gap: var(--space-6);
    margin-bottom: var(--space-8);
  }

  h2 {
    font-size: var(--font-size-2xl);
  }

}

a.card {
  color: inherit;
  text-decoration: none;
}

.card-data {
  --badge-icon: url("../icons/data-badge.svg");
}

.card-candidate-list {
  --badge-icon: url("../icons/candidate-list-badge.svg");
}

.card-locked {
  --badge-icon: url("../icons/locked-badge.svg");
  --badge-bg: var(--gray-200);
}