

.cards {
  display: grid;
  gap: var(--space-6);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
}

.card {
  --badge-size: 2.5rem;
  --alert-margin-block: 0;
}

.cards.cards-home {
  --card-min-height: 26rem;
  --card-min-width: 25.25rem;
}

.cards-candidate-lists {
  --card-min-width: 19.5rem;
  --card-gap: var(--space-6);
  --card-padding: var(--space-6);
}

.card {
  background-color: var(--card-bg, var(--base-white));
  border-radius: var(--rounded-lg);
  border: 1px solid var(--card-border-color, var(--gray-200));
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: var(--card-gap, var(--space-8));
  min-height: var(--card-min-height, auto);
  padding: var(--card-padding, var(--space-8));
  text-decoration: none;
  text-wrap: balance;

  .card-header {
    align-items: center;
    color: var(--gray-800);
    display: flex;
    font-size: var(--font-size-xl);
    font-weight: 700;
    gap: var(--space-3);
    line-height: var(--leading-xl);
  }

  .card-title {
    color: var(--gray-700);
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: var(--leading-2xl);
  }

  .card-content {
    color: var(--gray-600);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
    font-weight: 300;
    gap: var(--space-2);
    line-height: var(--leading-sm);
  }

  ul.card-instruction {
    list-style-position: inside;
    list-style-type: disc;
    padding: 0; 
  }

  .card-footer {
    color: var(--gray-600);
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-top: auto;
    
    &::after {
      background-color: var(--gray-600);
      content: '';
      mask-image: url('../icons/chevronRight.svg');
      mask-position: center;
      width: var(--space-5);
    }
  }
}

.card-add-list {
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}