

.cards {
  display: grid;
  gap: var(--grid-gutter-md);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
}

.cards.cards-home {
  --card-min-height: 26rem;
  --card-min-width: 25.25rem;
}

.cards-candidate-lists {
  --card-min-width: 18rem;
}

.card {
  --badge-size: 2.5rem;
  background-color: var(--card-bg, var(--base-white));
  border-radius: var(--rounded-lg);
  border: 1px solid var(--card-border-color, var(--gray-200));
  color: inherit;
  display: flex;
  flex-direction: column;
  min-height: var(--card-min-height, auto);
  padding: var(--card-padding, var(--space-8));
  text-decoration: none;

  .card-header {
    align-items: center;
    color: var(--gray-800);
    display: flex;
    font-size: var(--font-size-xl);
    font-weight: 700;
    gap: var(--space-3);
    line-height: var(--leading-xl);
    margin-bottom: var(--space-8);
  }

  .card-title {
    color: var(--gray-700);
    font-size: var(--font-size-2xl);
    font-weight: 500;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  .card-instruction {
    color: var(--gray-600);
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: var(--leading-sm);
  }

  ul.card-instruction {
    list-style-position: inside;
    list-style-type: disc;
    padding: 0; 
  }

  .card-footer {
    color: var(--gray-600);
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-top: auto;

    &::after {
      background-color: var(--gray-600);
      content: '';
      mask-image: url('../icons/chevronRight.svg');
      mask-position: center;
      width: var(--space-5);
    }
  }
}

.card-data {
  --badge-icon: url("../icons/data-badge.svg");
}

.card-candidate-list {
  --badge-icon: url("../icons/candidate-list-badge.svg");
}

.card-locked {
  --badge-bg: var(--gray-200);
  --badge-icon: url("../icons/locked-badge.svg");
}

.card-persons {
  --card-padding: var(--space-6);
  --card-border-color: transparent;
  --badge-icon: url("../icons/politician-badge.svg");
}

.card-candidate-list {
  --card-padding: var(--space-6);
  --card-border-color: transparent;
  --badge-icon: url("../icons/candidate-list-badge.svg");;  
}