.finalise {
  counter-reset: step;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.step {
  display: grid;
  gap: var(--space-8);
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  --step-index-bg: url("../icons/step-index.svg");

  &:is(.warning) {
    --step-index-bg: url("../icons/step-index-warning.svg");
    --step-index-color: var(--orange-700);
  }

  &:is(.error) {
    --step-index-bg: url("../icons/step-index-error.svg");
    --step-index-color: var(--red-700);
  }

  &::before {
    aspect-ratio: 1;
    background-image: var(--step-illustration);
    background-size: contain;
    content: "";
    grid-column: span 3;
    margin-inline-end: var(--space-8);
    margin-top: calc(var(--font-size-4xl) + var(--space-8));
    position: sticky;
    top: var(--space-8);
  }

  &.illustration-errors {
    --step-illustration: url("../icons/illustration-errors.svg");
  }

  &.illustration-printing {
    --step-illustration: url("../icons/illustration-printing.svg");
  }

  &.illustration-button {
    --step-illustration: url("../icons/illustration-button.svg");
  }

  &.illustration-collection {
    --step-illustration: url("../icons/illustration-collection.svg");
  }

  &.illustration-correction {
    --step-illustration: url("../icons/illustration-correction.svg");
  }

  &.illustration-delivery {
    --step-illustration: url("../icons/illustration-delivery.svg");
  }

  &.illustration-hearing {
    --step-illustration: url("../icons/illustration-hearing.svg");
  }

  &.illustration-verification {
    --step-illustration: url("../icons/illustration-verification.svg");
  }
}

.step-main {
  grid-column: 4 / 13;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.step-header {
  position: relative;

  &::before {
    align-items: center;
    background-image: var(--step-index-bg);
    background-position: center center;
    background-size: contain;
    color: var(--step-index-color, currentColor);
    content: counter(step);
    counter-increment: step;
    display: flex;
    font-family: var(--font-header);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    height: var(--space-9);
    justify-content: center;
    left: calc(var(--space-8) * -1);
    line-height: var(--leading-xl);
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: var(--space-8);
  }
}

.step-content {
  height: 100%;
  position: relative;
  text-wrap: balance;

  p,
  address {
    margin-top: var(--space-3);
  }

  &.less-wide {
    max-width: 36rem;
  }

  &::before {
    background-color: var(--gray-200);
    content: "";
    height: 100%;
    left: calc(var(--space-8) * -1);
    position: absolute;
    top: 0;
    width: 2px;
  }
}

.step-grid {
  display: grid;
  gap: var(--space-8);
  grid-template-columns: repeat(auto-fit, minmax(19.125rem, 1fr));
  margin-bottom: var(--space-12);

  &:has(> :nth-child(4)) {
    grid-template-columns: repeat(auto-fit, minmax(max(19.125rem, 40%), 1fr));
  }
}

.step-downloads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.step-download {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.problems-card {
  --card-gap: var(--space-3);

  h4:not(:first-child) {
    margin-top: var(--space-5);
  }
}

.section-heading {
  align-items: end;
  display: grid;
  gap: var(--space-lg);
  grid-template-columns: auto 1fr;
}

.problem-legend {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  justify-content: flex-end;

  span {
    padding-left: var(--space-xl);
    background-repeat: no-repeat;
    background-position: left var(--space-sm) center;
    background-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
  }

  .info {
    background-image: url("../icons/info.svg");
  }

  .warning {
    background-image: url("../icons/warning.svg");
  }

  .error {
    background-image: url("../icons/error.svg");
  }
}
