html,
body {
  overscroll-behavior: none;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 960px;
}

main {
  background-color: var(--bg-gray);
  flex: 1;
  gap: var(--space-lg);
  padding-block: var(--space-12);

  nav {
    min-height: var(--space-xxl);
  }

  & > .steps,
  & > form > .steps {
    display: flex;
    justify-content: stretch;
    gap: var(--space-lg);
    margin-bottom: var(--space-xl);
  }
}

footer {
  background-color: var(--base-white);
  color: var(--color-help-text);
  font-size: var(--font-size-sm);
  flex: 0 0 var(--space-xxl);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xxl);
  line-height: 1.25rem;
  display: flex;
}

.pagination {
  margin-top: var(--space-md);
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  align-items: center;

  span,
  a {
    min-width: 3rem;
    text-align: center;
  }
}

.columns {
  display: flex;
}

.columns > .column:not(:last-child) {
  border-right: 1px solid var(--border-color-default);
}

.columns > .column {
  flex: 1;
  margin: var(--space-md);
}
