body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    padding: 0 var(--space-xxl);

    background-color: var(--base-brand-blue);
    color: var(--base-white);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        a {
          display: inline-block;
          text-decoration: none;
          height: 3rem;
          padding: 0 0.75rem;
          line-height: 3rem;
          color: var(--base-white);
          white-space: nowrap;

          &:visited,
          &:hover {
            color: var(--base-white);
          }

          &.logout {
            text-decoration: underline;
          }

          &.active {
            border-bottom: 4px solid var(--accent-orange);
            font-weight: bold;
          }
        }

        &.user-info {
          display: flex;
          align-items: center;
          gap: var(--space-sm);
          white-space: nowrap;
        }
      }
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8rem;
    padding: 0 var(--space-xxl);
    margin: 0;

    div:first-child {
      flex: 1;
    }

    .subtitle {
      display: block;
      font-size: var(--font-size-md);
      margin-top: var(--space-sm);
      color: var(--color-help-text);
      max-width: 80%;
      line-height: 1.4;
    }

    a {
      max-height: 3rem;
    }
  }
}

main {
  background-color: var(--bg-gray);
  flex: auto;
  gap: var(--space-lg);
  padding: var(--space-xl) var(--space-xxl);

  nav {
    min-height: var(--space-xxl);
  }
}

footer {
  background-color: var(--base-white);
  color: var(--color-help-text);
  font-size: var(--font-size-sm);
  flex: 0 0 var(--space-xxl);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xxl);
  line-height: 1.25rem;
  display: flex;
}

.pagination {
  margin-top: var(--space-md);
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  align-items: center;

  span,
  a {
    min-width: 3rem;
    text-align: center;
  }
}
