.login-split {
  --login-content-offset: 25vh;

  display: grid;
  flex: 1;
  grid-template-columns: minmax(0, 4fr) minmax(0, 6fr);

  aside,
  main {
    padding: var(--login-content-offset) 20% var(--space-12);
  }

  p {
    font-size: var(--font-size-sm);
  }
}

.login-intro {
  background-color: var(--base-brand-blue);
  color: var(--base-white);
  position: relative;

  h1 {
    color: var(--base-white);
  }

  p {
    margin-top: var(--space-6);
    max-width: 42ch;
  }
}

.login-kiesraad-logo {
  background: url("../icons/kiesraad-white.svg") left / contain no-repeat;
  width: 100%;
  height: var(--font-size-xl);
  left: var(--space-10);
  top: var(--space-10);
  position: absolute;
}
