table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-md);
  line-height: var(--leading-md);
  color: var(--gray-600);

  tr:nth-child(even) {
    --table-row-bg: var(--gray-50);
  }

  tr:nth-child(odd) {
    --table-row-bg: var(--gray-25);
  }

  tr {
    background-color: var(--table-row-bg);
  }

  tr:is(.dragging) {
    --table-row-bg: var(--orange-100);
  }

  tr:is(.flash-success) {
    --table-row-bg: var(--green-100);
  }

  th,
  td {
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }

  th {
    font-size: var(--font-size-xs);
    line-height: var(--leading-xs);
    font-weight: 700;
  }

  td,
  th {
    border-bottom: 1px solid var(--gray-200);
    padding-block: var(--space-3);
    padding-inline: var(--space-4);

    &:has(.position-badge) {
      border-right: 1px solid var(--gray-200);
      padding-inline: 0;
      width: var(--space-24);
    }
  }

  td.drag-handle {
    aspect-ratio: 1;
    background-color: currentColor;
    cursor: move;
    mask-image: url("../icons/move.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    padding-inline: 0;
    width: var(--space-12);
  }
}