table {
  color: var(--color-help-text);
  width: 100%;
  border-collapse: collapse;
  font-weight: var(--font-weight-light);

  th,
  td {
    padding: 0 var(--space-6);
    border-bottom: 1px solid var(--gray-200);
    vertical-align: middle;
  }

  th {
    height: 2.75rem;
    text-align: left;
    font-size: var(--font-size-xs);

    a {
      color: var(--color-help-text);
      text-decoration: none;

      &:hover,
      &:visited,
      &:focus {
        color: var(--color-help-text);
        text-decoration: underline;
      }
    }
  }

  td {
    height: 3rem;
    font-size: var(--font-size-md);
    line-height: var(--leading-md);
  }

  tr {
    background-image: var(--row-icon, none);
    background-repeat: no-repeat;
    background-position: right 3.5rem center;
    background-size: 1.5rem;
  }

  tr.info {
    --row-icon: url("../icons/info.svg");
  }

  tr.warning {
    --row-icon: url("../icons/warning.svg");
  }

  tr.error {
    --row-icon: url("../icons/error.svg");
  }

  tr.highlighted {
    background-color: var(--orange-100);

    .position-badge {
      background-color: var(--orange-200);
    }
  }

  tr.clickable {
    td:last-child {
      position: relative;

      a,
      button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        background-image: url("../icons/chevronRight.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        box-shadow: none;
        height: var(--space-12);
        width: var(--space-12);
        cursor: pointer;

        span {
          display: none;
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--blue-100);
    }
  }
}
