.tags {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  .tags-label {
    color: var(--gray-500);
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: var(--leading-sm);
  }

  .tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    padding: 0;
  }

  .tag {
    border-radius: var(--rounded-md);
    border: 1px solid var(--gray-50);
    color: var(--gray-500);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: var(--leading-sm);
    padding: var(--space-1) var(--space-2);
  }
}