@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/Space_Grotesk/SpaceGrotesk.woff2") format("woff2");
  font-weight: 300 700;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DM_Sans/DMSans.woff2") format("woff2");
  font-weight: 100 1000;
}

@font-face {
  font-family: "GeistMono";
  src: url("../fonts/Geist_Mono/GeistMono.woff2") format("woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: "FlagEmojis";
  unicode-range: U+1F1E6-1F1FF; /* range for flag emojis */
  /* check for local emoji fonts with proper flags first */
  src:
    local("Noto Color Emoji"),
    local("Apple Color Emoji"),
    url("../fonts/OpenMoji/OpenMoji-flags.woff2") format("woff2");
}

:root {
  /* FONTS */
  --font-header: "SpaceGrotesk";
  --font-header-body: "DMSans";
  --font-text: "DMSans";
  --font-number: "GeistMono", monospace, monospace;
  --font-flag-emojis: "FlagEmojis", "DMSans";

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* SPACING */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-ml: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 5rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --leading-xs: 1.5;
  --leading-sm: 1.5;
  --leading-md: 1.5;
  --leading-lg: 1.3;
  --leading-xl: 1.2;
  --leading-2xl: 1.1;
  --leading-3xl: 1.1;
  --leading-4xl: 1;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
  --space-13: 3.25rem;
  --space-14: 3.5rem;
  --space-15: 3.75rem;
  --space-16: 4rem;
  --space-17: 4.25rem;
  --space-18: 4.5rem;
  --space-19: 4.75rem;
  --space-20: 5rem;
  --space-21: 5.25rem;
  --space-22: 5.5rem;
  --space-23: 5.75rem;
  --space-24: 6rem;

  --main-padding-inline: var(--space-20);

  --grid-gutter-sm: var(--space-6);
  --grid-gutter-md: var(--space-8);

  /* CORNERS */
  --rounded-xs: 0.125rem;
  --rounded-sm: 0.1875rem;
  --rounded-md: 0.25rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 1rem;

  --rounded-default: 0.5rem;

  --shadow-xs: 0px 1px 6px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 1px 12px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0px 1px 24px rgba(0, 0, 0, 0.16);

  /* COLORS */
  --blue-1000: #002649;
  --blue-900: #00305b;
  --blue-800: #1c4280;
  --blue-700: #2556a2;
  --blue-600: #306bc8;
  --blue-500: #5c8bd6;
  --blue-400: #82a6e0;
  --blue-300: #a4bee8;
  --blue-200: #c5d6f1;
  --blue-100: #dfeafa;
  --blue-50: #eff6ff;

  --green-900: #113b26;
  --green-800: #195738;
  --green-700: #206c46;
  --green-600: #248052;
  --green-500: #329d68;
  --green-400: #64b58c;
  --green-300: #8fc9ac;
  --green-200: #b8ddca;
  --green-100: #e7f3ee;
  --green-50: #f6fbf9;

  --orange-900: #521f09;
  --orange-800: #7a2e0e;
  --orange-700: #b54708;
  --orange-600: #d4690b;
  --orange-500: #f79009;
  --orange-400: #fdb022;
  --orange-300: #fec84b;
  --orange-200: #fedf89;
  --orange-100: #fef6dc;
  --orange-50: #fdfaf2;

  --red-900: #661a27;
  --red-800: #8e2437;
  --red-700: #b02d45;
  --red-600: #d03651;
  --red-500: #e35f77;
  --red-400: #ea889a;
  --red-300: #f0aab7;
  --red-200: #f6cad2;
  --red-100: #fbe9ed;
  --red-50: #fef9fa;

  --gray-900: #101828;
  --gray-800: #1d2939;
  --gray-700: #344054;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #848fa2;
  --gray-300: #98a2b3;
  --gray-200: #d0d5dd;
  --gray-100: #eaecf0;
  --gray-50: #f2f4f7;
  --gray-25: #f9fafb;

  --text-color-header: var(--gray-900);
  --text-color-body: var(--gray-700);

  --container-max-width: 82.5rem;
  --container-size: min(
    calc(100% - var(--space-12) * 2),
    var(--container-max-width)
  );

  --button-color-primary: var(--blue-900);
  --button-color-primary-hover: var(--blue-800);
  --button-color-primary-focus: var(--blue-1000);
  --button-color-primary-active: var(--blue-1000);
  --button-color-secondary: var(--base-white);
  --button-color-secondary-hover: var(--gray-100);
  --button-color-secondary-focus: var(--base-white);
  --button-color-secondary-active: var(--gray-200);
  --button-color-disabled: var(--gray-300);
  --button-color-bg-disabled: var(--base-white);
  --button-border-width: 1px;

  --checkbox-radio-color-border: var(--gray-400);
  --checkbox-radio-color-bg-default: var(--base-white);
  --checkbox-radio-color-bg-active: var(--bg-gray);
  --checkbox-radio-color-bg-hover: var(--bg-gray-darker);
  --checkbox-radio-color-bg-disabled: var(--checkbox-radio-color-bg-hover);
  --checkbox-radio-color-bg-default-checked: var(--button-color-primary);
  --checkbox-radio-color-bg-active-checked: var(--button-color-primary-active);
  --checkbox-radio-color-bg-hover-checked: var(--button-color-primary-hover);
  --checkbox-radio-color-bg-focus-checked: var(
    --checkbox-radio-color-bg-default
  );
  --checkbox-radio-color-bg-disabled-checked: var(
    --checkbox-radio-color-border
  );
  --checkbox-radio-size: 1.25rem;
  --checkbox-radio-svg-size: 0.875rem;

  --button-icon-modal-close-color-svg: var(--menu-empty);
  --button-icon-tertiary-color-svg: var(--base-black);
  --button-icon-tertiary-color-border-focus: var(--checkbox-radio-color-border);
  --button-icon-tertiary-color-bg-focus: var(--bg-gray-darker);
  --button-icon-tertiary-color-bg-hover: var(--bg-gray-darker);

  --shadow-color-focus: #d1e0ff;
  --border-color-default: var(--bg-gray-darkest);
  --border-color-focus: var(--interactive-default);

  --color-error: var(--red-500);
  --color-error-darker: var(--red-600);
  --color-error-darkest: var(--red-700);
  --color-error-bg: var(--red-100);
  --color-error-hover: var(--red-200);

  --color-warning: var(--orange-500);
  --color-warning-darker: var(--orange-600);
  --color-warning-bg: var(--orange-100);
  --color-warning-hover: var(--orange-200);

  --color-notify: var(--blue-600);
  --color-notify-bg: var(--blue-100);
  --color-notify-hover: var(--blue-200);

  --color-success: var(--green-600);
  --color-success-bg: var(--green-100);
  --color-success-hover: var(--green-200);

  --color-help-text: var(--gray-600);
  --color-hover: var(--gray-200);

  --bg-gray: var(--gray-25);
  --bg-gray-darker: var(--gray-50);
  --bg-gray-darkest: var(--gray-300);
  --bg-highlight: #eff4ff;

  --base-black: #000000;
  --base-brand-blue: var(--blue-900);
  --base-dark-blue: var(--blue-1000);
  --base-white: #ffffff;

  --accent-orange: var(--orange-500);
  --accent-blue: #c9d8e9;

  --interactive-default: #155eef;

  --link-default: var(--interactive-default);
  --link-hover: #004eeb;
  --link-active: #0040c1;
  --link-visited: #6927da;

  --menu-empty: var(--gray-500);
  --menu-unsaved: var(--color-notify);
  --menu-active: var(--text-color-header);
  --menu-accept: var(--color-success);
  --menu-warning: var(--color-warning);
  --menu-error: var(--color-error-darker);

  --badge-size: 2.25rem;
  --badge-size-lg: 3rem;

  --badge-polling-station: var(--base-white);
  --badge-polling-station-bg: #4a75ba;
  --badge-first-entry: #93370d;
  --badge-first-entry-bg: #fef0c7;
  --badge-second-entry: #095c37;
  --badge-second-entry-bg: #d3f8df;
  --badge-extra-entry: var(--badge-second-entry);
  --badge-extra-entry-bg: var(--badge-second-entry-bg);
  --badge-correction: #065986;
  --badge-correction-bg: var(--color-notify-bg);
  --badge-objections: #4a1fb8;
  --badge-objections-bg: #ebe9fe;
  --badge-difference: var(--base-white);
  --badge-difference-bg: var(--red-600);
  --badge-typist-busy: var(--link-active);
  --badge-typist-busy-bg: var(--shadow-color-focus);
  --badge-definitive: var(--base-white);
  --badge-definitive-bg: var(--base-dark-blue);

  --progress-bar-default: var(--blue-600);
  --progress-bar-errors-and-warnings: var(--color-error-darker);
  --progress-bar-unfinished: var(--color-warning);
  --progress-bar-in-progress: var(--orange-300);
  --progress-bar-first-entry-finished: #66c61c;
  --progress-bar-definitive: var(--color-success);
  --progress-bar-not-started: var(--gray-200);
  --progress-bar-not-started-border: var(--gray-450);

  --status-not-started: #9f1ab1;
}
