<div class="header-buttons">
  <a class="button secondary icon-restoration"
     href="{{ political_group.all_restorations_path() }}">
    {% if political_group.mode.is_recovery() %}
      {{ "csb.recovery.omissions_title"|trans }}
      {% if political_group.recovery.pending > 0 %}
        <span class="restoration_count">{{ political_group.recovery.pending }}</span>
      {% endif %}
    {% else %}
      {{ "csb.all_restorations.title"|trans }}
      {% if political_group.restoration_count > 0 %}
        <span class="restoration_count">{{ political_group.restoration_count }}</span>
      {% endif %}
    {% endif %}
  </a>
  <a href="{{ back_url }}" class="button secondary">{{ "action.back"|trans }}</a>
</div>
