<div class="header-buttons">
  <div class="header-controls">
    {% if include_finish_switch | default(false) %}
    <div class="switch-group {% if political_group.is_examination_finished %} finished {% else %} unfinished {% endif %}">
      <p>
        {% if political_group.is_examination_finished %}
          {{ "csb.group.finished"|trans }}
        {% else %}
          {{ "csb.group.unfinished"|trans }}
        {% endif %}
      </p>
      <form method="post"
            action="{{ political_group.examination_toggle_finish_path() }}">
        {{ macros::csrf_field() }}
        <label class="switch" aria-label="{{ "csb.group.toggle"|trans }}">
          <input type="submit">
          <span class="slider"></span>
        </label>
      </form>
    </div>
    {% endif %}
    <a class="button secondary icon-restoration"
       href="{{ political_group.all_restorations_path() }}">
      {{ "csb.all_restorations.title"|trans }}
      <span class="restoration_count">{{ restoration_count }}</span>
    </a>
    <a href="{{ back_url }}" class="button secondary">{{ "action.back"|trans }}</a>
  </div>
</div>
