{% extends "common/components/base.html" %}
{% block body %}
  <header>
    <nav>
      <div>
        <ul>
        </ul>
        <ul>
          <li>
            <a href="/logout" class="logout">{{ "action.signout"|trans }}</a>
          </li>
          {% let locale = "locale"|locale_value %}
          <li>
            <form action="{{ crate::common::SwitchLanguagePath{}.to_string() }}"
                  method="post"
                  class="language-switch">
              <button class="button sm {% if locale == crate::Locale::Nl %}active{% endif %}"
                      type="submit"
                      name="lang"
                      value="nl">NL</button>
              <button class="button sm {% if locale == crate::Locale::En %}active{% endif %}"
                      type="submit"
                      name="lang"
                      value="en">EN</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-content">
      <div>
        <h1>{% block page_title %}{{ "common.title"|trans }}{% endblock %}</h1>
        {% block page_sub_title %}{% endblock %}
      </div>
      {% block header_action %}{% endblock %}
    </div>
  </header>
  <main class="{% block main_class %}{% endblock %}">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    <span>{{ "common.title"|trans }}</span>
    <span>
      {{ "common.version"|trans }} <strong>{{ env!("CARGO_PKG_VERSION") }}</strong>
      {% if let Some(server) = "server_name"|optional_str_value %}· <strong>{{ server }}</strong>{% endif %}
    </span>
  </footer>
  {% block overlay %}{% endblock %}
{% endblock %}
