{% extends "pg/common/components/overlay.html" %}
{% import "pg/common/components/macros.html" as macros %}
{% import "pg/common/components/diff_table.html" as diff %}
{% set audit_log_path = AuditLogPath.to_string() %}
{% set close_action = audit_log_path.clone() %}
{% block overlay_title %}{{ detail.description }}{% endblock %}
{% block overlay_steps %}<div class="steps-nav"></div>{% endblock %}
{% block overlay_content %}
  <div class="overlay-content">
    <dl class="event-meta">
      <dt>{{ "audit_log.fields.event_id"|trans }}</dt>
      <dd>
        {{ detail.event_id }}
      </dd>
      <dt>{{ "audit_log.fields.timestamp"|trans }}</dt>
      <dd>
        {{ detail.created_at|datetime_seconds }}
      </dd>
      {% if !detail.details.is_empty() %}
        <dt>{{ "audit_log.fields.details"|trans }}</dt>
        <dd>
          {{ detail.details }}
        </dd>
      {% endif %}
      {% if !detail.subject_id_full.is_empty() %}
        <dt>{{ "audit_log.fields.subject_id"|trans }}</dt>
        <dd>
          <code>{{ detail.subject_id_full }}</code>
        </dd>
      {% endif %}
      {% if !detail.subject_path.is_empty() %}
        <dt>{{ "audit_log.detail.subject_link"|trans }}</dt>
        <dd>
          <a href="{{ detail.subject_path }}">{{ detail.subject_path }}</a>
        </dd>
      {% endif %}
      <dt>{{ "audit_log.event.hash"|trans }}</dt>
      <dd>
        <code>{{ hash }}</code>
      </dd>
    </dl>
    {% if detail.changes.is_empty() %}
      <p class="mb-md">{{ "audit_log.detail.no_changes"|trans }}</p>
    {% else %}
      {{ diff::table(detail.changes) }}
    {% endif %}
    {% if !("paper_correction_mode"|value_true) %}
      {% if !is_downloadable_state %}
        <p class="font-italic mb-md">{{ "audit_log.documents.no_download"|trans }}</p>
      {% endif %}
      {% if frisian_export_allowed %}<div>{{ "common.languages.dutch"|trans }}:</div>{% endif %}
      {{ macros::download_button("audit_log.documents.download"|trans, download_path_nl, is_downloadable_state, detail.event_id) }}
      {% if frisian_export_allowed %}
        <div class="mt-md">{{ "common.languages.frisian"|trans }}:</div>
        {{ macros::download_button("Dokuminten downloade", download_path_fry, is_downloadable_state, detail.event_id) }}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
{% block overlay_actions %}{% endblock %}
