{% extends "common/components/overlay.html" %}
{% import "common/components/macros.html" as macros %}
{% set close_action = ListSubmitter::view_path() %}
{% block overlay_title %}{{ "political_group.edit_substitute_submitter"|trans }}{% endblock %}
{% block overlay_steps %}
  {% include "substitute_list_submitters/components/update_steps.html" %}
{% endblock %}
{% block overlay_form %}
  <fieldset>
    {% set should_warn = true %}
    {% include "list_submitters/components/name_fields.html" %}
    {% include "list_submitters/components/address_fields.html" %}
  </fieldset>
{% endblock %}
