{% extends "pg/common/components/layout.html" %}
{% block page_title %}
  {% if "multiple_candidate_lists"|value_true %}
    {{ "candidate_list.title_plural"|trans }}
  {% else %}
    {{ "candidate_list.title_single"|trans }}
  {% endif %}
{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}
{% block header_action %}<a href="/" class="button secondary">{{ "action.back"|trans }}</a>{% endblock %}
{% block content %}
  <section class="candidate-lists">
    {% if total_persons > 0 %}
      <div class="candidates">
        <a href="{{ Person::list_path() }}" class="card card-persons">
          <div class="card-header">
            <div class="badge badge-candidates {{ person_problem_severity }}"></div>
            <div>
              <h3 class="h4">{{ "candidate_list.all_candidates"|trans }}</h3>
              {% if persons_with_problems > 0 %}
                <p class="{{ person_problem_severity }}">{{ "person.with_problems"|trans(&persons_with_problems.to_string() ) }}</p>
              {% endif %}
            </div>
          </div>
          <div class="card-content">
            <p>{{ "person.total"|trans(&total_persons.to_string() )|safe }}</p>
            <p>{{ "candidate_list.all_candidates_note"|trans }}</p>
          </div>
          <div class="card-footer">{{ "action.manage_candidates"|trans }}</div>
        </a>
      </div>
    {% endif %}
    <div class="cards cards-candidate-lists">
      {% let election = "election"|election_value %}
      {% let max_candidates = "max_candidates"|integer_value %}
      {% for candidate_list in candidate_lists %}
        <div class="card card-candidate-list"
             data-href="{{ candidate_list.data.list.view_path() }}">
          <div class="card-header">
            <div class="badge badge-candidates-list {{ candidate_list.problems.highest_severity_class() }}"></div>
            <div>
              <h3 class="h4">{{ "candidate_list.title_single"|trans }}</h3>
              {% let problems = candidate_list.problems.potential_problems %}
              {% if !problems.is_empty() %}
                <p class="{{ candidate_list.problems.highest_severity_class() }}">
                  {{ problems[0].translate(locale) }}
                  {% let other_problems = candidate_list.problems.total_problem_count() - 1 %}
                  {% if other_problems == 1 %}
                    {{ "problems.and_other_problems_one"|trans(&(other_problems).to_string()) }}
                  {% else if other_problems > 1 %}
                    {{ "problems.and_other_problems"|trans(&(other_problems).to_string()) }}
                  {% endif %}
                </p>
              {% endif %}
            </div>
          </div>
          <div class="card-content">
            <p class="{% if candidate_list.data.candidate_count() > candidate_list.data.max_count %}warning{% endif %}">
              {{ "candidate_list.candidate_count"|trans(&candidate_list.data.candidate_count().to_string() ,
              &max_candidates.to_string())|safe }}
            </p>
            {% if !election.has_only_one_district() %}
              <div class="tags">
                <h5 class="tags-label">{{ "common.electoral_districts"|trans }}:</h5>
                {% if candidate_list.data.list.electoral_districts.len() == election.electoral_districts().len() &&
                  candidate_list.data.duplicate_districts.is_empty() %}
                  <p>{{ "candidate_list.districts.all"|trans }}</p>
                {% else %}
                  <ul class="tags-list">
                    {% for district in candidate_list.data.list.electoral_districts %}
                      <li class="tag {% if candidate_list.data.duplicate_districts.contains(district) %}error{% endif %}">
                        <a href="{{ candidate_list.data.list.update_path_from(CandidateList::list_path() ) }}"
                           {% if candidate_list.data.duplicate_districts.contains(district) %}class="error"{% endif %}>
                          {{ district|district_name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <a class="card-footer" href="{{ candidate_list.data.list.view_path() }}">{{ "action.manage_candidate_list"|trans }}</a>
        </div>
      {% endfor %}
      {# add new candidate list card #}
      {% if election.has_only_one_district() && candidate_lists.len() > 0 %}
        {# do not show the add button #}
      {% else %}
        <div class="card card-add-list {% if all_districts_assigned %}muted{% endif %}">
          <div>
            <a href="{{ CandidateList::create_path() }}"
               class="button secondary icon-plus">{{
            "candidate_list.actions.add"|trans }}</a>
            <p>{{ "candidate_list.add_list_note"|trans(&election|election_type_title) }}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
  {% if !candidate_lists.is_empty() %}
    {% set delete_path = "" %}
    {% include "pg/candidate_lists/components/finalise_nav.html" %}
  {% endif %}
{% endblock %}
