{% extends "pg/common/components/layout.html" %}
{% block page_title %}{{ "candidate_list.title_single"|trans }}{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}
{% block page_sub_title %}
  {% let election = "election"|election_value %}
  {% if !election.has_only_one_district() %}
    <div class="districts-subtitle">
      {% if !full_list.list.electoral_districts.is_empty() && !full_list.list.contains_all_districts(election) %}
        <ul class="tags-list">
          {% for district in full_list.list.electoral_districts %}
            <li class="tag {% if duplicate_districts.contains(district) %}error{% endif %}">
              <a href="{{ full_list.list.update_path() }}"
                 {% if duplicate_districts.contains(district) %}class="error"{% endif %}>
                {{ district|district_name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <a href="{{ full_list.list.update_path() }}"
         class="button tertiary icon-edit">{{ "candidate_list.form.update.title"|trans }}</a>
    </div>
  {% endif %}
{% endblock %}
{% block header_action %}
  <div class="buttons">
    <a href="{{ CandidateList::list_path() }}" class="button secondary">
      {{ "candidate_list.actions.back_to_list"|trans }}
    </a>
  </div>
{% endblock %}
{% block content %}
  {% if max_candidates_reached %}
    <div class="alert alert-warning alert-floating">
      {{ "candidate_list.view.max_candidates_reached"|trans(&crate::MAX_CANDIDATES.to_string() ) }}
    </div>
  {% endif %}
  {% if import_capped %}
    {% let max_candidates = crate::MAX_CANDIDATES.to_string() %}
    <div class="alert alert-warning alert-floating">
      {{ "candidate_list.view.import_capped"|trans(max_candidates, max_candidates) }}
    </div>
  {% endif %}
  {% if !ignored_columns.is_empty() %}
    <div class="alert alert-warning alert-floating">
      {{ "candidate_list.view.import_ignored_columns"|trans(ignored_columns) }}
    </div>
  {% endif %}
  {% let candidate_limit = "candidate_limit"|integer_value %}
  <nav class="sticky-nav">
    <div class="sticky-nav-bar">
      <div>
        {% if !("paper_correction_mode"|value_true) %}
          <p>{{ "candidate_list.actions.import_export"|trans }}:</p>
          <a href="{{ full_list.list.import_path() }}"
             class="button secondary icon-download"
             title="{{ "candidate_list.actions.import_export"|trans }}">{{ "candidate_list.actions.import"|trans }}</a>
        {% endif %}
      </div>
      {% if full_list.candidates.len() < candidate_limit %}
        <div>
          <p>{{ "candidate_list.actions.add_candidates"|trans }}:</p>
          <div class="buttons">
            <a href="{{ full_list.list.add_candidate_path() }}"
               class="button secondary icon-plus open-modal"
               type="button">{{ "candidate_list.actions.add_existing"|trans }}</a>
            <a href="{{ full_list.list.create_candidate_path() }}"
               class="button secondary icon-plus open-modal"
               type="button">{{ "candidate_list.actions.add_new"|trans }}</a>
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
  <section>
    {% if full_list.candidates.is_empty() %}
      <p>{{ "candidate_list.view.empty"|trans }}</p>
    {% else %}
      {% let max_candidates = "max_candidates"|integer_value %}
      {% include "pg/candidate_lists/components/candidates_table.html" %}
    {% endif %}
  </section>
  {% set delete_path = full_list.list.delete_path().to_string() %}
  {% include "pg/candidate_lists/components/finalise_nav.html" %}
{% endblock %}
